<?php
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
  * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Ced
 * @package     Ced_SocialLogin
 * @author 		CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * @category   	Ced
 * @package    	Ced_SocialLogin
 * @author 		CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 */
?>
<div class="ced-sociallogin-register">   
    <div class="<?php echo $this->_getColSet(); ?> fieldset">
        <p style="margin-bottom: 0px;">
                                        <span class="line" style="border-top: 1px solid #eaeaea; display: block;  position: relative;">
                                        <span style="position: relative; top: -10px; padding: 0 10px; background: #fff;">OR</span>
                                        </span>
                                    </p>

        
        <?php if($this->_facebookEnabled()): ?>
        <div class="<?php //echo $this->_getCol(); ?> form-control ced-sociallogin-register-facebook" style="margin-bottom: 12px;background: #3f51b5!important;">
            <?php echo $this->getChildHtml('ced_sociallogin_checkout_facebook_button')?>
        </div>
        <?php endif; ?>
	<?php if($this->_googleEnabled()): ?>
        <div class="<?php //echo $this->_getCol(); ?> form-control ced-sociallogin-register-google" style="margin-bottom: 12px;background: #e1584b!important;">
          <?php echo $this->getChildHtml('ced_sociallogin_checkout_google_button')?>
        </div>
        <?php endif; ?>
        <?php if($this->_twitterEnabled()): ?>
        <div class="<?php //echo $this->_getCol(); ?> form-control ced-sociallogin-register-twitter" style="margin-bottom: 12px;background: #3f51b5!important;">
            <?php echo $this->getChildHtml('ced_sociallogin_checkout_twitter_button')?>
        </div>
        <?php endif; ?>
		<?php if($this->_linkedinEnabled()): ?>
        <div class="<?php //echo $this->_getCol(); ?> form-control ced-sociallogin-register-linkedin" style="margin-bottom: 12px;background: #3f51b5!important;">
            <?php echo $this->getChildHtml('ced_sociallogin_checkout_linkedin_button')?>
        </div>
        <?php endif; ?>
    </div>
</div>
