<?php 
 $category = Mage::getModel('catalog/category')->load(19); 
?>
 <section class="Product_section">
        <div class="p_section_heading">
            <a href="<?php echo $category->getUrl(); ?>">عرض الكل</a>
            <h2><?php echo $category->getName(); ?></h2>  
            
        </div>
      <?php 
 $category = Mage::getModel('catalog/category')->load(19)
        ->getProductCollection()->addAttributeToSelect('*'); ?>
<div class="product_block">
            <ul class="owl-carousel owl-theme Pslider">
<?php foreach($category as $_product) { ?>
 <li class="item">
	<div class="product_display">
	<div class="product_image">
        <a class="product-images" href="<?php echo $_product->getProductUrl() ?>"><img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image'); ?>" width="193" height="170" alt="" />
        </a>
	</div>
	<div class="product_name">        
        <h4><a href="<?php echo $_product->getProductUrl(); ?>" data-toggle="tooltip" data-placement="left" title="<?php echo $_product->getName(); ?>"><?php echo $_product->getName(); ?></a></h4>
	</div>
	  <?php if ($_product->getProdType()):  ?>
	<div class="product_desc">
                        <h3><a href="#">
        <?php echo $_product->getResource()->getAttribute('prod_type')->getFrontend()->getValue($_product); ?></a></h3>
                    </div>
        <?php endif; ?>
	<div class="product_price">
        <p><?php echo Mage::helper('core')->currency($_product->getPrice(),2); ?></p>
        </div>
	</div>
    </li>

<?php }
?>
</ul>
</div>
      </section>
