/*!
 * Bootstrap v3.3.0 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.small{
  font-size: 70%;
  top: 4px;
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
.glyphicon-cd:before {
  content: "\e201";
}
.glyphicon-save-file:before {
  content: "\e202";
}
.glyphicon-open-file:before {
  content: "\e203";
}
.glyphicon-level-up:before {
  content: "\e204";
}
.glyphicon-copy:before {
  content: "\e205";
}
.glyphicon-paste:before {
  content: "\e206";
}
.glyphicon-alert:before {
  content: "\e209";
}
.glyphicon-equalizer:before {
  content: "\e210";
}
.glyphicon-king:before {
  content: "\e211";
}
.glyphicon-queen:before {
  content: "\e212";
}
.glyphicon-pawn:before {
  content: "\e213";
}
.glyphicon-bishop:before {
  content: "\e214";
}
.glyphicon-knight:before {
  content: "\e215";
}
.glyphicon-baby-formula:before {
  content: "\e216";
}
.glyphicon-tent:before {
  content: "\26fa";
}
.glyphicon-blackboard:before {
  content: "\e218";
}
.glyphicon-bed:before {
  content: "\e219";
}
.glyphicon-apple:before {
  content: "\f8ff";
}
.glyphicon-erase:before {
  content: "\e221";
}
.glyphicon-hourglass:before {
  content: "\231b";
}
.glyphicon-lamp:before {
  content: "\e223";
}
.glyphicon-duplicate:before {
  content: "\e224";
}
.glyphicon-piggy-bank:before {
  content: "\e225";
}
.glyphicon-scissors:before {
  content: "\e226";
}
.glyphicon-bitcoin:before {
  content: "\e227";
}
.glyphicon-btc:before {
  content: "\e227";
}
.glyphicon-xbt:before {
  content: "\e227";
}
.glyphicon-yen:before {
  content: "\00a5";
}
.glyphicon-jpy:before {
  content: "\00a5";
}
.glyphicon-ruble:before {
  content: "\20bd";
}
.glyphicon-rub:before {
  content: "\20bd";
}
.glyphicon-scale:before {
  content: "\e230";
}
.glyphicon-ice-lolly:before {
  content: "\e231";
}
.glyphicon-ice-lolly-tasted:before {
  content: "\e232";
}
.glyphicon-education:before {
  content: "\e233";
}
.glyphicon-option-horizontal:before {
  content: "\e234";
}
.glyphicon-option-vertical:before {
  content: "\e235";
}
.glyphicon-menu-hamburger:before {
  content: "\e236";
}
.glyphicon-modal-window:before {
  content: "\e237";
}
.glyphicon-oil:before {
  content: "\e238";
}
.glyphicon-grain:before {
  content: "\e239";
}
.glyphicon-sunglasses:before {
  content: "\e240";
}
.glyphicon-text-size:before {
  content: "\e241";
}
.glyphicon-text-color:before {
  content: "\e242";
}
.glyphicon-text-background:before {
  content: "\e243";
}
.glyphicon-object-align-top:before {
  content: "\e244";
}
.glyphicon-object-align-bottom:before {
  content: "\e245";
}
.glyphicon-object-align-horizontal:before {
  content: "\e246";
}
.glyphicon-object-align-left:before {
  content: "\e247";
}
.glyphicon-object-align-vertical:before {
  content: "\e248";
}
.glyphicon-object-align-right:before {
  content: "\e249";
}
.glyphicon-triangle-right:before {
  content: "\e250";
}
.glyphicon-triangle-left:before {
  content: "\e251";
}
.glyphicon-triangle-bottom:before {
  content: "\e252";
}
.glyphicon-triangle-top:before {
  content: "\e253";
}
.glyphicon-console:before {
  content: "\e254";
}
.glyphicon-superscript:before {
  content: "\e255";
}
.glyphicon-subscript:before {
  content: "\e256";
}
.glyphicon-menu-left:before {
  content: "\e257";
}
.glyphicon-menu-right:before {
  content: "\e258";
}
.glyphicon-menu-down:before {
  content: "\e259";
}
.glyphicon-menu-up:before {
  content: "\e260";
}

.ms-megamenu *{
  box-sizing: border-box;
  transition: background-color 250ms ease-out;
  -webkit-transition: background-color  250ms ease-out;
  -moz-transition: background-color  250ms ease-out;
  -ms-transition:background-color  250ms ease-out;
  -o-transition: background-color  250ms ease-out;
}
.ms-megamenu button *{box-sizing: content-box;}
.ms-megamenu .row {
  margin-right: -10px;
  margin-left: -10px;
}
.ms-megamenu .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .ms-megamenu .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .ms-megamenu .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .ms-megamenu .container {
   /* width: 1170px; */
  }
}
.ms-megamenu .col-xs-24,.ms-megamenu .col-xs-14,.ms-megamenu .col-xs-125,.ms-megamenu .col-xs-111,.ms-megamenu .col-xs-100,.ms-megamenu .col-xs-909,.ms-megamenu .col-xs-1,.ms-megamenu .col-xs-2,.ms-megamenu .col-xs-3,.ms-megamenu .col-xs-4,.ms-megamenu .col-xs-5,.ms-megamenu .col-xs-6,.ms-megamenu .col-xs-7,.ms-megamenu .col-xs-8,.ms-megamenu .col-xs-9,.ms-megamenu .col-xs-10,.ms-megamenu .col-xs-11,.ms-megamenu .col-xs-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.ms-megamenu .col-xs-24,.ms-megamenu .col-xs-14,.ms-megamenu .col-xs-125,.ms-megamenu .col-xs-111,.ms-megamenu .col-xs-100,.ms-megamenu .col-xs-909,.ms-megamenu .col-xs-1,.ms-megamenu .col-sm-1,.ms-megamenu .col-md-1,.ms-megamenu .col-lg-1,.ms-megamenu .col-xs-2,.ms-megamenu .col-sm-2, .ms-megamenu .col-md-2, .ms-megamenu .col-lg-2, .ms-megamenu .col-xs-3, .ms-megamenu .col-sm-3, .ms-megamenu .col-md-3, .ms-megamenu .col-lg-3, .ms-megamenu .col-xs-4, .ms-megamenu .col-sm-4, .ms-megamenu .col-md-4, .ms-megamenu .col-lg-4, .ms-megamenu .col-xs-5, .ms-megamenu .col-sm-5, .ms-megamenu .col-md-5, .ms-megamenu .col-lg-5, .ms-megamenu .col-xs-6, .ms-megamenu .col-sm-6, .ms-megamenu .col-md-6, .ms-megamenu .col-lg-6, .ms-megamenu .col-xs-7, .ms-megamenu .col-sm-7, .ms-megamenu .col-md-7, .ms-megamenu .col-lg-7, .ms-megamenu .col-xs-8, .ms-megamenu .col-sm-8, .ms-megamenu .col-md-8, .ms-megamenu .col-lg-8, .ms-megamenu .col-xs-9, .ms-megamenu .col-sm-9, .ms-megamenu .col-md-9, .ms-megamenu .col-lg-9, .ms-megamenu .col-xs-10, .ms-megamenu .col-sm-10, .ms-megamenu .col-md-10, .ms-megamenu .col-lg-10, .ms-megamenu .col-xs-11, .ms-megamenu .col-sm-11, .ms-megamenu .col-md-11, .ms-megamenu .col-lg-11, .ms-megamenu .col-xs-12, .ms-megamenu .col-sm-12, .ms-megamenu .col-md-12, .ms-megamenu .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.ms-megamenu .col-xs-12 {
  width: 100%;
}
.ms-megamenu .col-xs-11 {
  width: 91.66666667%;
}
.ms-megamenu .col-xs-10 {
  width: 83.33333333%;
}
.ms-megamenu .col-xs-9 {
  width: 75%;
}
.ms-megamenu .col-xs-8 {
  width: 66.66666667%;
}
.ms-megamenu .col-xs-7 {
  width: 58.33333333%;
}
.ms-megamenu .col-xs-6 {
  width: 50%;
}
.ms-megamenu .col-xs-5 {
  width: 41.66666667%;
}
.ms-megamenu .col-xs-4 {
  width: 33.33333333%;
}
.ms-megamenu .col-xs-3 {
  width: 25%;
}
.ms-megamenu .col-xs-2 {
  width: 16.66666667%;
}
.ms-megamenu .col-xs-1 {
  width: 8.33333333%;
}
.ms-megamenu .col-xs-24{
  width: 20%;
}
.ms-megamenu .col-xs-14{
  width: 14%;
}
.ms-megamenu .col-xs-125{
  width: 12.5%;
}
.ms-megamenu .col-xs-111{
  width: 11.11111111%;
}
.ms-megamenu .col-xs-100{
  width: 10%;
}
.ms-megamenu .col-xs-909{
  width: 9.090909090%;
}

.ms-megamenu .col-xs-pull-12 {
  right: 100%;
}
.ms-megamenu .col-xs-pull-11 {
  right: 91.66666667%;
}
.ms-megamenu .col-xs-pull-10 {
  right: 83.33333333%;
}
.ms-megamenu .col-xs-pull-9 {
  right: 75%;
}
.ms-megamenu .col-xs-pull-8 {
  right: 66.66666667%;
}
.ms-megamenu .col-xs-pull-7 {
  right: 58.33333333%;
}
.ms-megamenu .col-xs-pull-6 {
  right: 50%;
}
.ms-megamenu .col-xs-pull-5 {
  right: 41.66666667%;
}
.ms-megamenu .col-xs-pull-4 {
  right: 33.33333333%;
}
.ms-megamenu .col-xs-pull-3 {
  right: 25%;
}
.ms-megamenu .col-xs-pull-2 {
  right: 16.66666667%;
}
.ms-megamenu .col-xs-pull-1 {
  right: 8.33333333%;
}
.ms-megamenu .col-xs-pull-0 {
  right: auto;
}
.ms-megamenu .col-xs-push-12 {
  left: 100%;
}
.ms-megamenu .col-xs-push-11 {
  left: 91.66666667%;
}
.ms-megamenu .col-xs-push-10 {
  left: 83.33333333%;
}
.ms-megamenu .col-xs-push-9 {
  left: 75%;
}
.ms-megamenu .col-xs-push-8 {
  left: 66.66666667%;
}
.ms-megamenu .col-xs-push-7 {
  left: 58.33333333%;
}
.ms-megamenu .col-xs-push-6 {
  left: 50%;
}
.ms-megamenu .col-xs-push-5 {
  left: 41.66666667%;
}
.ms-megamenu .col-xs-push-4 {
  left: 33.33333333%;
}
.ms-megamenu .col-xs-push-3 {
  left: 25%;
}
.ms-megamenu .col-xs-push-2 {
  left: 16.66666667%;
}
.ms-megamenu .col-xs-push-1 {
  left: 8.33333333%;
}
.ms-megamenu .col-xs-push-0 {
  left: auto;
}
.ms-megamenu .col-xs-offset-12 {
  margin-left: 100%;
}
.ms-megamenu .col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.ms-megamenu .col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.ms-megamenu .col-xs-offset-9 {
  margin-left: 75%;
}
.ms-megamenu .col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.ms-megamenu .col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.ms-megamenu .col-xs-offset-6 {
  margin-left: 50%;
}
.ms-megamenu .col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.ms-megamenu .col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.ms-megamenu .col-xs-offset-3 {
  margin-left: 25%;
}
.ms-megamenu .col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.ms-megamenu .col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.ms-megamenu .col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .ms-megamenu .col-sm-1,.ms-megamenu .col-sm-14, .ms-megamenu .col-sm-2,.ms-megamenu .col-sm-24, .ms-megamenu .col-sm-3, .ms-megamenu .col-sm-4, .ms-megamenu .col-sm-5, .ms-megamenu .col-sm-6, .ms-megamenu .col-sm-7, .ms-megamenu .col-sm-8, .ms-megamenu .col-sm-9, .ms-megamenu .col-sm-10, .ms-megamenu .col-sm-11, .ms-megamenu .col-sm-12 {
    float: left;
  }
  .ms-megamenu .col-sm-12 {
    width: 100%;
  }
  .ms-megamenu .col-sm-11 {
    width: 91.66666667%;
  }
  .ms-megamenu .col-sm-10 {
    width: 83.33333333%;
  }
  .ms-megamenu .col-sm-9 {
    width: 75%;
  }
  .ms-megamenu .col-sm-8 {
    width: 66.66666667%;
  }
  .ms-megamenu .col-sm-7 {
    width: 58.33333333%;
  }
  .ms-megamenu .col-sm-6 {
    width: 50%;
  }
  .ms-megamenu .col-sm-5 {
    width: 41.66666667%;
  }
  .ms-megamenu .col-sm-4 {
    width: 33.33333333%;
  }
  .ms-megamenu .col-sm-3 {
    width: 25%;
  }
  .ms-megamenu .col-sm-24{
    width: 20%;
  }
  .ms-megamenu .col-sm-2 {
    width: 16.66666667%;
  }
  .ms-megamenu .col-sm-14{
    width: 14%;
  }
  .ms-megamenu .col-sm-125{
    width: 12.5%;
  }
  .ms-megamenu .col-sm-111{
    width: 11.11111111%;
  }
  .ms-megamenu .col-sm-100{
    width: 10%;
  }
  .ms-megamenu .col-sm-909{
    width: 9.090909090%;
  }
  .ms-megamenu .col-sm-1 {
    width: 8.33333333%;
  }
  .ms-megamenu .col-sm-pull-12 {
    right: 100%;
  }
  .ms-megamenu .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .ms-megamenu .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .ms-megamenu .col-sm-pull-9 {
    right: 75%;
  }
  .ms-megamenu .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .ms-megamenu .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .ms-megamenu .col-sm-pull-6 {
    right: 50%;
  }
  .ms-megamenu .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .ms-megamenu .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .ms-megamenu .col-sm-pull-3 {
    right: 25%;
  }
  .ms-megamenu .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .ms-megamenu .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .ms-megamenu .col-sm-pull-0 {
    right: auto;
  }
  .ms-megamenu .col-sm-push-12 {
    left: 100%;
  }
  .ms-megamenu .col-sm-push-11 {
    left: 91.66666667%;
  }
  .ms-megamenu .col-sm-push-10 {
    left: 83.33333333%;
  }
  .ms-megamenu .col-sm-push-9 {
    left: 75%;
  }
  .ms-megamenu .col-sm-push-8 {
    left: 66.66666667%;
  }
  .ms-megamenu .col-sm-push-7 {
    left: 58.33333333%;
  }
  .ms-megamenu .col-sm-push-6 {
    left: 50%;
  }
  .ms-megamenu .col-sm-push-5 {
    left: 41.66666667%;
  }
  .ms-megamenu .col-sm-push-4 {
    left: 33.33333333%;
  }
  .ms-megamenu .col-sm-push-3 {
    left: 25%;
  }
  .ms-megamenu .col-sm-push-2 {
    left: 16.66666667%;
  }
  .ms-megamenu .col-sm-push-1 {
    left: 8.33333333%;
  }
  .ms-megamenu .col-sm-push-0 {
    left: auto;
  }
  .ms-megamenu .col-sm-offset-12 {
    margin-left: 100%;
  }
  .ms-megamenu .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .ms-megamenu .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .ms-megamenu .col-sm-offset-9 {
    margin-left: 75%;
  }
  .ms-megamenu .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .ms-megamenu .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .ms-megamenu .col-sm-offset-6 {
    margin-left: 50%;
  }
  .ms-megamenu .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .ms-megamenu .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .ms-megamenu .col-sm-offset-3 {
    margin-left: 25%;
  }
  .ms-megamenu .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .ms-megamenu .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .ms-megamenu .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .ms-megamenu .col-md-1, .ms-megamenu .col-md-2, .ms-megamenu .col-md-3, .ms-megamenu .col-md-4, .ms-megamenu .col-md-5, .ms-megamenu .col-md-6, .ms-megamenu .col-md-7, .ms-megamenu .col-md-8, .ms-megamenu .col-md-9, .ms-megamenu .col-md-10, .ms-megamenu .col-md-11, .ms-megamenu .col-md-12 {
    float: left;
  }
  .ms-megamenu .col-md-12 {
    width: 100%;
  }
  .ms-megamenu .col-md-11 {
    width: 91.66666667%;
  }
  .ms-megamenu .col-md-10 {
    width: 83.33333333%;
  }
  .ms-megamenu .col-md-9 {
    width: 75%;
  }
  .ms-megamenu .col-md-8 {
    width: 66.66666667%;
  }
  .ms-megamenu .col-md-7 {
    width: 58.33333333%;
  }
  .ms-megamenu .col-md-6 {
    width: 50%;
  }
  .ms-megamenu .col-md-5 {
    width: 41.66666667%;
  }
  .ms-megamenu .col-md-4 {
    width: 33.33333333%;
  }
  .ms-megamenu .col-md-3 {
    width: 25%;
  }
  .ms-megamenu .col-md-2 {
    width: 16.66666667%;
  }
  .ms-megamenu .col-md-1 {
    width: 8.33333333%;
  }
  .ms-megamenu .col-md-pull-12 {
    right: 100%;
  }
  .ms-megamenu .col-md-pull-11 {
    right: 91.66666667%;
  }
  .ms-megamenu .col-md-pull-10 {
    right: 83.33333333%;
  }
  .ms-megamenu .col-md-pull-9 {
    right: 75%;
  }
  .ms-megamenu .col-md-pull-8 {
    right: 66.66666667%;
  }
  .ms-megamenu .col-md-pull-7 {
    right: 58.33333333%;
  }
  .ms-megamenu .col-md-pull-6 {
    right: 50%;
  }
  .ms-megamenu .col-md-pull-5 {
    right: 41.66666667%;
  }
  .ms-megamenu .col-md-pull-4 {
    right: 33.33333333%;
  }
  .ms-megamenu .col-md-pull-3 {
    right: 25%;
  }
  .ms-megamenu .col-md-pull-2 {
    right: 16.66666667%;
  }
  .ms-megamenu .col-md-pull-1 {
    right: 8.33333333%;
  }
  .ms-megamenu .col-md-pull-0 {
    right: auto;
  }
  .ms-megamenu .col-md-push-12 {
    left: 100%;
  }
  .ms-megamenu .col-md-push-11 {
    left: 91.66666667%;
  }
  .ms-megamenu .col-md-push-10 {
    left: 83.33333333%;
  }
  .ms-megamenu .col-md-push-9 {
    left: 75%;
  }
  .ms-megamenu .col-md-push-8 {
    left: 66.66666667%;
  }
  .ms-megamenu .col-md-push-7 {
    left: 58.33333333%;
  }
  .ms-megamenu .col-md-push-6 {
    left: 50%;
  }
  .ms-megamenu .col-md-push-5 {
    left: 41.66666667%;
  }
  .ms-megamenu .col-md-push-4 {
    left: 33.33333333%;
  }
  .ms-megamenu .col-md-push-3 {
    left: 25%;
  }
  .ms-megamenu .col-md-push-2 {
    left: 16.66666667%;
  }
  .ms-megamenu .col-md-push-1 {
    left: 8.33333333%;
  }
  .ms-megamenu .col-md-push-0 {
    left: auto;
  }
  .ms-megamenu .col-md-offset-12 {
    margin-left: 100%;
  }
  .ms-megamenu .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .ms-megamenu .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .ms-megamenu .col-md-offset-9 {
    margin-left: 75%;
  }
  .ms-megamenu .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .ms-megamenu .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .ms-megamenu .col-md-offset-6 {
    margin-left: 50%;
  }
  .ms-megamenu .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .ms-megamenu .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .ms-megamenu .col-md-offset-3 {
    margin-left: 25%;
  }
  .ms-megamenu .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .ms-megamenu .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .ms-megamenu .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .ms-megamenu .col-lg-1, .ms-megamenu .col-lg-2, .ms-megamenu .col-lg-3, .ms-megamenu .col-lg-4, .ms-megamenu .col-lg-5, .ms-megamenu .col-lg-6, .ms-megamenu .col-lg-7, .ms-megamenu .col-lg-8, .ms-megamenu .col-lg-9, .ms-megamenu .col-lg-10, .ms-megamenu .col-lg-11, .ms-megamenu .col-lg-12 {
    float: left;
  }
  .ms-megamenu .col-lg-12 {
    width: 100%;
  }
  .ms-megamenu .col-lg-11 {
    width: 91.66666667%;
  }
  .ms-megamenu .col-lg-10 {
    width: 83.33333333%;
  }
  .ms-megamenu .col-lg-9 {
    width: 75%;
  }
  .ms-megamenu .col-lg-8 {
    width: 66.66666667%;
  }
  .ms-megamenu .col-lg-7 {
    width: 58.33333333%;
  }
  .ms-megamenu .col-lg-6 {
    width: 50%;
  }
  .ms-megamenu .col-lg-5 {
    width: 41.66666667%;
  }
  .ms-megamenu .col-lg-4 {
    width: 33.33333333%;
  }
  .ms-megamenu .col-lg-3 {
    width: 25%;
  }
  .ms-megamenu .col-lg-2 {
    width: 16.66666667%;
  }
  .ms-megamenu .col-lg-1 {
    width: 8.33333333%;
  }
  .ms-megamenu .col-lg-pull-12 {
    right: 100%;
  }
  .ms-megamenu .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .ms-megamenu .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .ms-megamenu .col-lg-pull-9 {
    right: 75%;
  }
  .ms-megamenu .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .ms-megamenu .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .ms-megamenu .col-lg-pull-6 {
    right: 50%;
  }
  .ms-megamenu .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .ms-megamenu .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .ms-megamenu .col-lg-pull-3 {
    right: 25%;
  }
  .ms-megamenu .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .ms-megamenu .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .ms-megamenu .col-lg-pull-0 {
    right: auto;
  }
  .ms-megamenu .col-lg-push-12 {
    left: 100%;
  }
  .ms-megamenu .col-lg-push-11 {
    left: 91.66666667%;
  }
  .ms-megamenu .col-lg-push-10 {
    left: 83.33333333%;
  }
  .ms-megamenu .col-lg-push-9 {
    left: 75%;
  }
  .ms-megamenu .col-lg-push-8 {
    left: 66.66666667%;
  }
  .ms-megamenu .col-lg-push-7 {
    left: 58.33333333%;
  }
  .ms-megamenu .col-lg-push-6 {
    left: 50%;
  }
  .ms-megamenu .col-lg-push-5 {
    left: 41.66666667%;
  }
  .ms-megamenu .col-lg-push-4 {
    left: 33.33333333%;
  }
  .ms-megamenu .col-lg-push-3 {
    left: 25%;
  }
  .ms-megamenu .col-lg-push-2 {
    left: 16.66666667%;
  }
  .ms-megamenu .col-lg-push-1 {
    left: 8.33333333%;
  }
  .ms-megamenu .col-lg-push-0 {
    left: auto;
  }
  .ms-megamenu .col-lg-offset-12 {
    margin-left: 100%;
  }
  .ms-megamenu .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .ms-megamenu .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .ms-megamenu .col-lg-offset-9 {
    margin-left: 75%;
  }
  .ms-megamenu .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .ms-megamenu .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .ms-megamenu .col-lg-offset-6 {
    margin-left: 50%;
  }
  .ms-megamenu .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .ms-megamenu .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .ms-megamenu .col-lg-offset-3 {
    margin-left: 25%;
  }
  .ms-megamenu .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .ms-megamenu .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .ms-megamenu .col-lg-offset-0 {
    margin-left: 0;
  }
}
@media (max-width: 460px) {
  .ms-megamenu .col-tn-1, .ms-megamenu .col-tn-2, .ms-megamenu .col-tn-3, .ms-megamenu .col-tn-4, .ms-megamenu .col-tn-5, .ms-megamenu .col-tn-6, .ms-megamenu .col-tn-7, .ms-megamenu .col-tn-8, .ms-megamenu .col-tn-9, .ms-megamenu .col-tn-10, .ms-megamenu .col-tn-11, .ms-megamenu .col-tn-12 {
    float: left;
  }
  .ms-megamenu .col-tn-12 {
    width: 100%;
  }
  .ms-megamenu .col-tn-11 {
    width: 91.66666667%;
  }
  .ms-megamenu .col-tn-10 {
    width: 83.33333333%;
  }
  .ms-megamenu .col-tn-9 {
    width: 75%;
  }
  .ms-megamenu .col-tn-8 {
    width: 66.66666667%;
  }
  .ms-megamenu .col-tn-7 {
    width: 58.33333333%;
  }
  .ms-megamenu .col-tn-6 {
    width: 50%;
  }
  .ms-megamenu .col-tn-5 {
    width: 41.66666667%;
  }
  .ms-megamenu .col-tn-4 {
    width: 33.33333333%;
  }
  .ms-megamenu .col-tn-3 {
    width: 25%;
  }
  .ms-megamenu .col-tn-2 {
    width: 16.66666667%;
  }
  .ms-megamenu .col-tn-1 {
    width: 8.33333333%;
  }
  .ms-megamenu .col-tn-offset-12 {
    margin-left: 100%;
  }
  .ms-megamenu .col-tn-offset-11 {
    margin-left: 91.66666667%;
  }
  .ms-megamenu .col-tn-offset-10 {
    margin-left: 83.33333333%;
  }
  .ms-megamenu .col-tn-offset-9 {
    margin-left: 75%;
  }
  .ms-megamenu .col-tn-offset-8 {
    margin-left: 66.66666667%;
  }
  .ms-megamenu .col-tn-offset-7 {
    margin-left: 58.33333333%;
  }
  .ms-megamenu .col-tn-offset-6 {
    margin-left: 50%;
  }
  .ms-megamenu .col-tn-offset-5 {
    margin-left: 41.66666667%;
  }
  .ms-megamenu .col-tn-offset-4 {
    margin-left: 33.33333333%;
  }
  .ms-megamenu .col-tn-offset-3 {
    margin-left: 25%;
  }
  .ms-megamenu .col-tn-offset-2 {
    margin-left: 16.66666667%;
  }
  .ms-megamenu .col-tn-offset-1 {
    margin-left: 8.33333333%;
  }
}
@media (max-width: 460px) {
  .hidden-tn {
    display: none !important;
  }
}
@media (max-width: 767px) and (min-width: 461px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.ms-megamenu input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ms-megamenu input[type="radio"],
.ms-megamenu input[type="checkbox"] {
  margin: 3px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
.ms-megamenu input[type="file"] {
  display: block;
}
.ms-megamenu input[type="range"] {
  display: block;
  width: 100%;
}
.ms-megamenu select[multiple],
.ms-megamenu select[size] {
  height: auto;
}
.ms-megamenu input[type="file"]:focus,
.ms-megamenu input[type="radio"]:focus,
.ms-megamenu input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.ms-megamenu output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
.ms-megamenu .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ms-megamenu .form-control:focus {
  border-color: #66afe9;
  outline:none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.ms-megamenu .form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.ms-megamenu .form-control:-ms-input-placeholder {
  color: #999;
}
.ms-megamenu .form-control::-webkit-input-placeholder {
  color: #999;
}
.ms-megamenu .form-control[disabled],
.ms-megamenu .form-control[readonly],

.ms-megamenu textarea.form-control {
  height: 173px;
}
input[type="search"] {
  -webkit-appearance: none;
}
.ms-megamenu input[type="date"],
.ms-megamenu input[type="time"],
.ms-megamenu input[type="datetime-local"],
.ms-megamenu input[type="month"] {
  line-height: 34px;
  line-height: 1.42857143 \0;
}
.ms-megamenu input[type="date"].input-sm,
.ms-megamenu input[type="time"].input-sm,
.ms-megamenu input[type="datetime-local"].input-sm,
.ms-megamenu input[type="month"].input-sm {
  line-height: 30px;
  line-height: 1.5 \0;
}
.ms-megamenu input[type="date"].input-lg,
.ms-megamenu input[type="time"].input-lg,
.ms-megamenu input[type="datetime-local"].input-lg,
.ms-megamenu input[type="month"].input-lg {
  line-height: 46px;
  line-height: 1.33 \0;
}
_:-ms-fullscreen,
:root input[type="date"],
_:-ms-fullscreen,
:root input[type="time"],
_:-ms-fullscreen,
:root input[type="datetime-local"],
_:-ms-fullscreen,
:root input[type="month"] {
  line-height: 1.42857143;
}
_:-ms-fullscreen.input-sm,
:root input[type="date"].input-sm,
_:-ms-fullscreen.input-sm,
:root input[type="time"].input-sm,
_:-ms-fullscreen.input-sm,
:root input[type="datetime-local"].input-sm,
_:-ms-fullscreen.input-sm,
:root input[type="month"].input-sm {
  line-height: 1.5;
}
_:-ms-fullscreen.input-lg,
:root input[type="date"].input-lg,
_:-ms-fullscreen.input-lg,
:root input[type="time"].input-lg,
_:-ms-fullscreen.input-lg,
:root input[type="datetime-local"].input-lg,
_:-ms-fullscreen.input-lg,
:root input[type="month"].input-lg {
  line-height: 1.33;
}
.ms-megamenu .form-group {
  margin-bottom: 10px;
  float:left;
  width:100%;
}
.ms-megamenu .radio,
.ms-megamenu .checkbox {
  position: relative;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.ms-megamenu .radio label,
.ms-megamenu .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.ms-megamenu .radio input[type="radio"],
.ms-megamenu .radio-inline input[type="radio"],
.ms-megamenu .checkbox input[type="checkbox"],
.ms-megamenu .checkbox-inline input[type="checkbox"] {
  position: absolute;number
margin-top: 4px \9;
  margin-left: -19px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.ms-megamenu .radio-inline,
.ms-megamenu .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.ms-megamenu .form-group label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.ms-megamenu .hide{display:none;}
.ms-megamenu .disabled{
  opacity: 0.3;
  filter: alpha(opacity=30);
  cursor: default;
}
.ms-megamenu .text-left {
  text-align: left;
}
.ms-megamenu .text-right {
  text-align: right;
}
.ms-megamenu .text-center {
  text-align: center;
}
.ms-megamenu .text-justify {
  text-align: justify;
}
.ms-megamenu .text-nowrap {
  white-space: nowrap;
}
.ms-megamenu .text-lowercase {
  text-transform: lowercase;
}
.ms-megamenu .text-uppercase {
  text-transform: uppercase;
}
.ms-megamenu .text-capitalize {
  text-transform: capitalize;
}
.ms-megamenu .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.ms-megamenu .btn:hover,
.ms-megamenu .btn:focus,
.ms-megamenu .btn.focus {
  color: #333;
  text-decoration: none;
}
.ms-megamenu .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.ms-megamenu .btn-default:hover,
.ms-megamenu .btn-default:focus,
.ms-megamenu .btn-default.focus,
.ms-megamenu .btn-default:active,
.ms-megamenu .btn-default.active,
.ms-megamenu .open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.ms-megamenu .btn-default:active,
.ms-megamenu .btn-default.active,
.ms-megamenu .open > .dropdown-toggle.btn-default {
  background-image: none;
}
.ms-megamenu .btn-default.disabled,
.ms-megamenu .btn-default[disabled],
.ms-megamenu fieldset[disabled] .btn-default,
.ms-megamenu .btn-default.disabled:hover,
.ms-megamenu .btn-default[disabled]:hover,
.ms-megamenu fieldset[disabled] .btn-default:hover,
.ms-megamenu .btn-default.disabled:focus,
.ms-megamenu .btn-default[disabled]:focus,
.ms-megamenu fieldset[disabled] .btn-default:focus,
.ms-megamenu .btn-default.disabled.focus,
.ms-megamenu .btn-default[disabled].focus,
.ms-megamenu fieldset[disabled] .btn-default.focus,
.ms-megamenu .btn-default.disabled:active,
.ms-megamenu .btn-default[disabled]:active,
.ms-megamenu fieldset[disabled] .btn-default:active,
.ms-megamenu .btn-default.disabled.active,
.ms-megamenu .btn-default[disabled].active,
.ms-megamenu fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.ms-megamenu .btn-default .badge {
  color: #fff;
  background-color: #333;
}
.ms-megamenu .btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.ms-megamenu .btn-primary:hover,
.ms-megamenu .btn-primary:focus,
.ms-megamenu .btn-primary.focus,
.ms-megamenu .btn-primary:active,
.ms-megamenu .btn-primary.active,
.ms-megamenu .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.ms-megamenu .btn-primary:active,
.ms-megamenu .btn-primary.active,
.ms-megamenu .open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.ms-megamenu .btn-primary.disabled,
.ms-megamenu .btn-primary[disabled],
.ms-megamenu fieldset[disabled] .btn-primary,
.ms-megamenu .btn-primary.disabled:hover,
.ms-megamenu .btn-primary[disabled]:hover,
.ms-megamenu fieldset[disabled] .btn-primary:hover,
.ms-megamenu .btn-primary.disabled:focus,
.ms-megamenu .btn-primary[disabled]:focus,
.ms-megamenu fieldset[disabled] .btn-primary:focus,
.ms-megamenu .btn-primary.disabled.focus,
.ms-megamenu .btn-primary[disabled].focus,
.ms-megamenu fieldset[disabled] .btn-primary.focus,
.ms-megamenu .btn-primary.disabled:active,
.ms-megamenu .btn-primary[disabled]:active,
.ms-megamenu fieldset[disabled] .btn-primary:active,
.ms-megamenu .btn-primary.disabled.active,
.ms-megamenu .btn-primary[disabled].active,
.ms-megamenu fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.ms-megamenu .btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
.ms-megamenu .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.ms-megamenu .btn-success:hover,
.ms-megamenu .btn-success:focus,
.ms-megamenu .btn-success.focus,
.ms-megamenu .btn-success:active,
.ms-megamenu .btn-success.active,
.ms-megamenu .open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.ms-megamenu .btn-success:active,
.ms-megamenu .btn-success.active,
.ms-megamenu .open > .dropdown-toggle.btn-success {
  background-image: none;
}
.ms-megamenu .btn-success.disabled,
.ms-megamenu .btn-success[disabled],
.ms-megamenu fieldset[disabled] .btn-success,
.ms-megamenu .btn-success.disabled:hover,
.ms-megamenu .btn-success[disabled]:hover,
.ms-megamenu fieldset[disabled] .btn-success:hover,
.ms-megamenu .btn-success.disabled:focus,
.ms-megamenu .btn-success[disabled]:focus,
.ms-megamenu fieldset[disabled] .btn-success:focus,
.ms-megamenu .btn-success.disabled.focus,
.ms-megamenu .btn-success[disabled].focus,
.ms-megamenu fieldset[disabled] .btn-success.focus,
.ms-megamenu .btn-success.disabled:active,
.ms-megamenu .btn-success[disabled]:active,
.ms-megamenu fieldset[disabled] .btn-success:active,
.ms-megamenu .btn-success.disabled.active,
.ms-megamenu .btn-success[disabled].active,
.ms-megamenu fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.ms-megamenu .btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.ms-megamenu .btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.ms-megamenu .btn-info:hover,
.ms-megamenu .btn-info:focus,
.ms-megamenu .btn-info.focus,
.ms-megamenu .btn-info:active,
.ms-megamenu .btn-info.active,
.ms-megamenu .open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.ms-megamenu .btn-info:active,
.ms-megamenu .btn-info.active,
.ms-megamenu .open > .dropdown-toggle.btn-info {
  background-image: none;
}
.ms-megamenu .btn-info.disabled,
.ms-megamenu .btn-info[disabled],
.ms-megamenu fieldset[disabled] .btn-info,
.ms-megamenu .btn-info.disabled:hover,
.ms-megamenu .btn-info[disabled]:hover,
.ms-megamenu fieldset[disabled] .btn-info:hover,
.ms-megamenu .btn-info.disabled:focus,
.ms-megamenu .btn-info[disabled]:focus,
.ms-megamenu fieldset[disabled] .btn-info:focus,
.ms-megamenu .btn-info.disabled.focus,
.ms-megamenu .btn-info[disabled].focus,
.ms-megamenu fieldset[disabled] .btn-info.focus,
.ms-megamenu .btn-info.disabled:active,
.ms-megamenu .btn-info[disabled]:active,
.ms-megamenu fieldset[disabled] .btn-info:active,
.ms-megamenu .btn-info.disabled.active,
.ms-megamenu .btn-info[disabled].active,
.ms-megamenu fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.ms-megamenu .btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.ms-megamenu .btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.ms-megamenu .btn-warning:hover,
.ms-megamenu .btn-warning:focus,
.ms-megamenu .btn-warning.focus,
.ms-megamenu .btn-warning.active,
.ms-megamenu .open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.ms-megamenu .btn-warning:active,
.ms-megamenu .btn-warning.active,
.ms-megamenu .open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.ms-megamenu .btn-warning.disabled,
.ms-megamenu .btn-warning[disabled],
.ms-megamenu fieldset[disabled] .btn-warning,
.ms-megamenu .btn-warning.disabled:hover,
.ms-megamenu .btn-warning[disabled]:hover,
.ms-megamenu fieldset[disabled] .btn-warning:hover,
.ms-megamenu .btn-warning.disabled:focus,
.ms-megamenu .btn-warning[disabled]:focus,
.ms-megamenu fieldset[disabled] .btn-warning:focus,
.ms-megamenu .btn-warning.disabled.focus,
.ms-megamenu .btn-warning[disabled].focus,
.ms-megamenu fieldset[disabled] .btn-warning.focus,
.ms-megamenu .btn-warning.disabled:active,
.ms-megamenu .btn-warning[disabled]:active,
.ms-megamenu fieldset[disabled] .btn-warning:active,
.ms-megamenu .btn-warning.disabled.active,
.ms-megamenu .btn-warning[disabled].active,
.ms-megamenu fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.ms-megamenu .btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.ms-megamenu .btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.ms-megamenu .btn-danger:hover,
.ms-megamenu .btn-danger:focus,
.ms-megamenu .btn-danger.focus,
.ms-megamenu .btn-danger:active,
.ms-megamenu .btn-danger.active,
.ms-megamenu .open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.ms-megamenu .btn-danger:active,
.ms-megamenu .btn-danger.active,
.ms-megamenu .open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.ms-megamenu .btn-danger.disabled,
.ms-megamenu .btn-danger[disabled],
.ms-megamenu fieldset[disabled] .btn-danger,
.ms-megamenu .btn-danger.disabled:hover,
.ms-megamenu .btn-danger[disabled]:hover,
.ms-megamenu fieldset[disabled] .btn-danger:hover,
.ms-megamenu .btn-danger.disabled:focus,
.ms-megamenu .btn-danger[disabled]:focus,
.ms-megamenu fieldset[disabled] .btn-danger:focus,
.ms-megamenu .btn-danger.disabled.focus,
.ms-megamenu .btn-danger[disabled].focus,
.ms-megamenu fieldset[disabled] .btn-danger.focus,
.ms-megamenu .btn-danger.disabled:active,
.ms-megamenu .btn-danger[disabled]:active,
.ms-megamenu fieldset[disabled] .btn-danger:active,
.ms-megamenu .btn-danger.disabled.active,
.ms-megamenu .btn-danger[disabled].active,
.ms-megamenu fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.ms-megamenu .btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.ms-megamenu .btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}
.ms-megamenu .btn-link,
.ms-megamenu .btn-link:active,
.ms-megamenu .btn-link.active,
.ms-megamenu .btn-link[disabled],
.ms-megamenu fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ms-megamenu .btn-link,
.ms-megamenu .btn-link:hover,
.ms-megamenu .btn-link:focus,
.ms-megamenu .btn-link:active {
  border-color: transparent;
}
.ms-megamenu .btn-link:hover,
.ms-megamenu .btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.ms-megamenu .btn-link[disabled]:hover,
.ms-megamenu fieldset[disabled] .btn-link:hover,
.ms-megamenu .btn-link[disabled]:focus,
.ms-megamenu fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}
.ms-megamenu .btn-lg,
.ms-megamenu .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.ms-megamenu .btn-sm,
.ms-megamenu .btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.ms-megamenu .btn-xs,
.ms-megamenu .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.ms-megamenu .btn-block {
  display: block;
  width: 100%;
}
.ms-megamenu .btn-block + .btn-block {
  margin-top: 5px;
}
 @media (max-width: 600px) {
	.megamenu-pc {  margin: 0px 0 0;
 }
