

.page .navbar.megamenu-pc{background:#fff;box-shadow:0px 0px 19px 6px #ccc;}
.page .ms-megamenu .ms-topmenu{background:#fff;}


.lang-box {
    padding: 0;
   /* float: right;*/
   /* text-align: right;
    display: inline-block;
    width: auto;*/
}
.lang-box .form-language {
    display: inline-block;
    margin-top: 7px;
    padding: 0px 5px;
	
}

.lang-box .curncy-swit #select-currency {
    margin-top: 0px;
}

.lang-box .curncy-swit {
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #444444;
    margin-top: 7px;	
    padding-right: 8px;		
}

.widget-static-block {
	display: inline-block;
	    width: 100%;
}

#nav .ms-topmenu .ms-level0 {
    float: right;
}

.head_right .user_account {padding-right: 0px;padding-left: 6px;position: relative;}

.head_right .user_account i:last-child {
    padding: 0 5px 0 6px;
}

.add-to-cart-wrapper .product-options {
    border: none;
    width: 30%;
    padding-left: 0;
}
.add-to-cart-wrapper .product-options select {
    background: #fff;
}

.add-to-cart-wrapper .product-options-bottom {
    border: none;
    background: none;
}

.add-to-cart-wrapper .add-to-links, .add-to-cart-wrapper .sharing-links {
    display: none;
}


/* Brand Mega Menu Css */

#submenu-17 {/* display: block !important; */}

.brand-logo ul li {
    width: 31%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #e7e7e7;
    margin: 0 5px 10px 0;
    overflow: hidden;
}

.brand-logo li img {
   max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.5s;
}
.brand-logo li a:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.brand-img .img-1 {
    width: 62%;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.brand-img .img-1 img {
    width: 100%;
}

.brand-img .img-2 {
    width: 35%;
    display: inline-block;
}
.brand-img .img-2 img {
    width: 100%;
    max-height: 320px;
}

.brand-cat .head, .brand-logo .head {
    font-weight: bold;
    font-size: 16px;
}
.brand-cat ul li {
    margin-bottom: 5px;
}

/* Brand Mega Menu Css */


@media screen and (max-width: 767px){

.logo_brand_inner {display: none;}
.alnab-header .lang-box ,.alnab-header .head_right{display:none;}

#ms-topmenu .header-minicart {
    border-right:none;
}

}
