n.translated-rtl .arrow-up {
    right: 150px !important;
}
.translated-rtl .user_account .user_option{/*right: -50px;*/}

@media(max-width: 779px){
    /* .page #nav.ms-megamenu .ms-topmenu  , #nav{
    background: #00b7e5;
}*/

.ms-topmenu .col-xs-2{
    width:auto;
    padding-left: 10px;
    height: 45px;
}
.ms-topmenu .col-xs-6 {
    width: calc(100% - 50px);
}
}




@media screen and (max-width:767px) 
{
    /* HEADER RESPONSIVE CSS */
    .logo {width: 100%;float: none;padding: 5px 0 25px;}
    .logo img{margin: auto;}
    .search_bar {margin: 15px 0 0;}
   
    .my_nav {padding-top: 0px; position: relative; z-index: 11;}
    .header_wrapper {padding: 25px 15px 25px;position: relative;}
    .cart {padding: 0 8px 0 0px;}
    .cart a{padding: 5px 12px;}
    .search_bar button {border-radius: 0px;}
    .search_bar input {border-radius: 0px;}
    /* END HEADER RESPONSIVE CSS */
    .ms-topmenu .col-xs-6 {
    width: auto;
}
.ms-megamenu .text-right {
    float: right;
}
    .my_nav ul{width: 100%;}
/*    .sub_nav{display: none !important;}*/
/*    .container{width: auto;}*/
    
    .slider_text {width: 50%;}
    .slider_text h2 {margin: 5px 0px 0;font-size: 20px;}
    .slider_text h1 {margin: 2px 0;font-size: 20px;}
    .slider_text p {margin: 0px 0 10px; font-size: 14px;}
    .custom-navigation{display: none;}
    .slider_wrapper {height: auto; padding-top: 9px;}
    .slider_wrapper #slider .item img{height: 135px;}
    .slider_wrapper #slider .owl-nav{display: none;}
    .slider_text a {font-size: 14px; padding: 4px 15px;}
    .user_option {width: 180px;margin: auto;top: 50px;left: 0%;}
    .arrow-up{display: none;}
    .owl-dots {bottom: 1px;}
    .owl-dot span {height: 5px;width: 5px;}

    .footer-block {float: none;width: 100%;text-align: center; padding: 0 15px; margin-bottom: 40px;}
    .footer-block:first-child {width: 100%;}
    .footer-block p {width: 100%;}
    .footer-block:last-child {width: 100%;}
    .footer-block h2 {margin: 0px 0 10px;}
    .footer_logo {margin-bottom: 15px;}
    .my-footer {padding: 50px 0 0;margin-top: 0px;}
    .payment-block ul li {margin: 0px 7px 0 0;}
    .copyright{margin-top: 0px;}
    .copyright p {font-size: 12px;font-weight: 600; color: #a29e9f;}
    
    .Logo_brand_block {padding: 40px 20px;}
    .logo_brand_inner {width: 89%;}
    .logo_brand_inner .owl-nav .owl-next{width: 40px;height: 40px;line-height: 28px;}
    .logo_brand_inner .owl-nav .owl-prev{width: 40px;height: 40px;line-height: 28px;}
    .owl-next{width: 40px;height: 40px;line-height: 28px !important;}
    .owl-prev{width: 40px;height: 40px;line-height: 28px !important;;}
    
    .harman {float: none;width: 100%;height: auto;padding: 50px 0 40px 45px;}
    .harman h1 {font-size: 28px;width: 50%;line-height: 34px;margin-bottom: 7px;}
    .harman a {font-size: 15px;}
    .head_phone {float: none;width: 100%;height: auto;padding: 50px 0 40px 45px;}
    .head_phone h1 {font-size: 28px;width: 60%;line-height: 34px;margin-bottom: 7px;}
    .head_phone a {font-size: 15px;}
    
    .product_display .product_image{height: 130px; width: 130px; margin: 0 auto 20px;vertical-align: middle; line-height: 140px;}
    .product_image a img{display: inline-block;}
    .product_name{margin-top: 30px;}
    .p_section_heading h2 {font-size: 18px;padding-top: 10px;}
    .p_section_heading a { top:0;}
    /*.p_section_heading {padding: 0px;}*/
    .product_display:hover .product_image a img {transform: translate3d(0,0px,0);}
    .product_display:hover{box-shadow: none;}
    .product_display{padding: 20px 15px; border-right: 0px;}
    .product_desc h3 a {font-size: 18px;padding: 5px 0;}
    .product_price p {font-size: 17px;}
    .product_block {border-top:0px !important;}
    .Pslider.items3 .item{border-bottom: 0px;}
    
    
    .collapse {position: fixed;top: 0;background-color: #00b7e4;height: 100%;overflow-y: scroll;transition: all 0.4s ease;left: -280px;display: block;width: 280px;}
    .navbar-nav {width: 280px !important;}
    .navbar-toggle{margin: 0px;position: absolute;left: 0;top: 0;background-color: transparent;}
    .navbar-toggle .icon-bar {border: solid 1px #00b7e4;}
    .navbar-collapse{border-top: 0px;}
    .my_nav ul li ul {position: relative;width: 100%;}
    .sub_nav_links{display: none !important;}
    .sub_nav li {width: 100%;}
    .my_nav ul li a:before{height: 0px;}
    .sub_nav_heading p{border-bottom: 0px;}
    .navbar-nav li a i{display: inline-block;}
    .navbar-collapse.collapse{overflow: auto !important;}
    .producting_listing_wrapper{padding: 10px 9px 0px;}
    .my_nav ul li:last-child{border-bottom: solid 1px #fff;padding-bottom: 20px;}
    
    /*  MY CART PAGE CSS  */
    .cart_item {padding: 0 15px 90px;}
    .my_cart_wrapper {padding-top: 10px;}
    .add_cart_details table tr td {padding: 30px;}
    .pro_banner_text {width: 100%;padding: 20px 15px 20px;}
    .pro_banner_text h1 {font-size: 40px;}
    .pro_banner {min-height: 175px;}
    .pro_banner_text p {font-size: 16px;padding: 5px 0 5px;}
    .pro_banner_text a {font-size: 16px;}
    .continue_proceed button {font-size: 15px;padding: 10px 30px; margin-bottom: 10px;}
    .totel_prize li {font-size: 18px;}
    .totel_prize {padding: 10px 0 20px;}
    .total_detail {padding: 20px 0;}
    .total_detail li {font-size: 18px;}
    .pro_description p{white-space: normal;}
    .product_sub_totel {width: 100%;}
    .table-responsive {border: none !important;}
    .product_details { padding: 15px 0 60px;}
      /* Product Details */
    .product_details #thumb, .product_details div#prod-slider { margin-right:0;}
    .product_details #thumb{display:none;}
    ul.slick-dots{display:block !important;}
    .product_details { padding: 15px 0 60px; }
    .product_details .details { background: #f5f7f8;border:0;}
    .details .borderright {margin-bottom: 29px;}
    .product_description{background:#fff; padding-bottom:40px;}
    .details .borderright{border-right: 0px;}
    /* Product Details */   
    
    /* forgate password */   
    #pswdbox {display: block;padding-top: 63px;}
    /* forgate password Ends */   
    
    
    /* My Profile Address Page Css*/
    .dashboard {padding-top: 10px;}
    .address_detail ul li {width: 100%; margin-right: 0px;}
    /* End My Profile Address Page Css*/
    
    /* Order Detail Page Css*/
    .order_receive h2 {font-size: 20px;margin: 20px 0 8px;}
    .order_receive p {font-size: 14px;}
    .order_receive {padding: 25px 15px;}
    .order_info {padding: 30px 15px 30px;margin-bottom: 30px;}
    .order_info ul li {width: 100%;margin-bottom: 15px;}
    .order_info ul li:last-child {margin-bottom: 0px;}
    .order_info ul li h4 {font-size: 15px;}
    .order_info ul li p {font-size: 14px;}
    .order_info ul{margin: 0px;}
    .order_ship li{font-size:15px;}
    .order_ship li:nth-child(even) {width: 65%;}
    .order_ship li:nth-child(odd) {width: 35%;}
    .order_info h3 {font-size: 16px;margin-bottom: 20px;}
    .ship_detail {min-width: 100%;}
    .shipping_adress {padding: 25px 0 0;}
    /* End Order Detail Page Css*/
    
    /* My Account Detail Start */
    .account_detail label {margin-bottom: 5px;}
    .account_detail .form-group {margin-bottom: 15px;}
    .btn1 {font-size: 17px;padding: 13px 35px;margin-top: 10px;}
    .account_detail h3 {margin: 25px 0;}
    .my_address h2{margin-top: 20px;}
    /* End My Account Detail Start */
    
    /* My Profile LogOut Start */
    .my-model {width: 340px;margin: 285px auto 0;}
    .my-model p {font-size: 20px;}
    .my-model button {padding: 4px 40px;font-size: 17px;}
    .my-model {padding: 45px 0;}
    /* End My Profile LogOut Start */
    .checkout-onepage-index #checkout-step-login .product_checklogin .col-1, .checkout-onepage-index #checkout-step-login .product_checklogin .col-2{width:100%;}
     .checkout-onepage-index #checkout-step-login .product_checklogin .col-2{margin:20px 0;}
     .cart a{padding:5px 7px;font-size: 14px;}
     .head_right{padding-right:0;}
     .cart a img{padding-right:3px;}
     
}


@media (min-width:768px) and (max-width:991px) {
    .container{width: auto;}
    .header_wrapper {padding: 5px 15px 15px;position: relative;}
    .search_bar {width: 100%;}
    .cart {padding: 0px;}
    .cart a {font-size: 17px;padding:0px 12px;}
    .search_bar input {height: 44px;}
    .search_bar button {height: 44px;}
    .owl-dots {bottom: 10px;}
    .owl-dot span {height: 7px;width: 7px;}
    .my_nav{padding-top: 0px; position: relative; z-index: 9;}
    .my_nav ul li ul {width: 100%;}
    .overlay form{width: 100%;}
    .overlay .form-group{width: 100%;}
    .overlay .form-control{width: 100%;}
    .mobile_search_bar, .navbar-form a{left: 0;height: 44px;}
    .search_bar {margin: 15px 0 0;}
    .navbar-header{position: absolute; top: 0;left: 0;}
    .navbar-toggle .icon-bar {border-bottom: solid 2px #00b7e4;}
    .navbar-toggle{display: block;}
    .my_nav ul li:last-child{border-bottom: solid 1px #fff;padding-bottom: 20px;}
    .my_nav ul li a:before{height: 0px;}
    .sub_nav_heading p{border-bottom: 0px;}
    .navbar-nav li a i{display: inline-block;}    
    .collapse {position: fixed;top: 0;background-color: #00b7e4;height: 100%;overflow-y: scroll;transition: all 0.4s ease;left: -280px;display: block;width: 280px;}
    .navbar-nav {width: 280px !important;}
    .navbar-toggle{margin: 0px;position: absolute;left: 0;top: 8px;background-color: transparent;}
    .navbar-toggle .icon-bar {border: solid 1px #00b7e4;}
    .navbar-collapse{border-top: 0px;}
    .my_nav ul li ul {position: relative;width: 100%;}
    .sub_nav_links{display: none !important;}
    .sub_nav li {width: 100%;}
    .my_nav ul li{width: 100%;}
    .navbar-collapse.collapse{height: 100% !important; overflow: auto !important;} 
    .slider_text {width: 50%;}
    .slider_text h2 {margin: 30px 0px 10px;font-size: 27px;}
    .slider_text h1 {margin: 2px 0;font-size: 30px;}
    .slider_text p {margin: 5px 0 15px; font-size: 20px;}
    .slider_wrapper {height: auto;  padding: 10px 11px 30px;}
    .slider_text a {font-size: 14px;    padding: 4px 19px;}
    .slider_wrapper #slider .item img{min-height: 250px;}
    .user_option {top: 35px;}
    .product_display:hover .product_image a img {transform: translate3d(0,0px,0);}
    .product_display:hover{box-shadow: none;}
    .product_block {border-top:0px !important;}
    .Pslider.items3 .item{border-bottom: 0px;}
    .product_display{border-right: 0px;}
    .p_section_heading h2{font-size: 20px;}
    .p_section_heading {padding: 20px;}
    .product_price p {font-size: 17px;}        
    .p_section_heading a{padding: 10px 20px;}    
    .harman {width: 50%;height: 162px;padding: 30px 0 30px 15px;}
    .harman h1 {font-size: 28px;width: 55%;line-height: 34px;margin-bottom: 7px;}
    .harman a {font-size: 15px;}
    .head_phone {width: 50%;height: 162px;padding: 30px 0 30px 15px;}
    .head_phone h1 {font-size: 28px;width: 65%;line-height: 34px;margin-bottom: 7px;}
    .head_phone a {font-size: 15px;}
    .logo_brand_inner {width: 80%;}    
    .footer-block {width: 50%; padding: 0 15px; margin-bottom: 40px;}
    .footer-block:first-child {width: 50%;}
    .footer-block p {width: 100%;}
    .footer-block:last-child {width: 50%;}
    .copyright{margin-top: 0px;}
    .producting_listing_wrapper{padding: 10px 9px 40px;}    
    /*  MY CART PAGE CSS  */
    .cart_item {padding: 0 15px 90px;}
    .my_cart_wrapper {padding-top: 10px;}
    .add_cart_details table tr td {padding: 30px 10px;}
    .pro_banner_text {width: 75%;padding: 20px 15px 20px;}
    .pro_banner_text h1 {font-size: 45px;}
    .pro_banner {min-height: 175px;}
    .pro_banner_text p {font-size: 18px;padding: 5px 0 5px;}
    .pro_banner_text a {font-size: 17px;}
    .continue_proceed button {font-size: 18px;padding: 10px 30px;}
    .totel_prize li {font-size: 20px;}
    .totel_prize {padding: 10px 0 20px;}
    .total_detail {padding: 20px 0;}
    .total_detail li {font-size: 18px;}
    /* Product Details */
    .product_details #thumb, .product_details div#prod-slider { margin-right:0;}
    .product_details #thumb{display:none;}
    ul.slick-dots{display:block !important;}
    .product_details { padding: 15px 0 60px; }
    .product_details .details { background: #f5f7f8;border:0;}
    .details .borderright {margin-bottom: 29px;}
    .product_description{background:#fff; padding-bottom:40px;}
    /* Product Details */
    
    /* My Profile Address Page Css*/
    .dashboard {padding-top: 10px;}
    /* End My Profile Address Page Css*/
    
    /* Order Detail Page Css*/
    .order_info ul li {width: 32%;margin-bottom: 25px;}
    .order_info ul li:last-child {width: 50%;margin-bottom: 0px;}
    .order_info {padding: 30px 25px 30px;margin-bottom: 40px;}
    .order_ship li{margin-bottom: 0px !important; line-height: 30px;}
    .order_ship li:last-child{width: 60% !important;}
   /* End Order Detail Page Css*/
    
    
    /* My Account Detail Start */
    .account_detail label {margin-bottom: 10px;}
    .account_detail .form-group {margin-bottom: 20px;}
    .btn1 {font-size: 17px;padding: 14px 40px;margin-top: 10px;}
    .account_detail h3 {margin: 25px 0;}
    .my_address h2{margin-top: 20px;}
    /* End My Account Detail Start */
    
    .view_detl button {font-size: 14px;padding: 8px 10px;margin-bottom: 5px;}
    .view_detl a {font-size: 15px;}
    
    
}
@media (max-width:1499px) {
    .head_right .user_account a{font-size:0;}
    .head_right .user_account .user_option a{font-size: 14px;}
    .lang-box{padding: 0px}
    .skip-cart{padding-right: 0px;}
    .header-minicart{padding: 0px;margin: 0px -3px; margin-top: 4px;}
    .curncy-swit select#select-currency{margin-right: 7px;}
    .translated-rtl .header-minicart{margin: 0px -19px;}
    .translated-rtl .curncy-swit select#select-currency{float: left; margin-left: 5px;}
}


@media (max-width:1199px) {
    
    .user_account i:last-child{padding-left:5px;}
    .user_account a img{margin-right:2px;}
    .alnab-header{padding:0 60px;}
    .lang-box{padding-left: 50px;
    padding-right: 15px;}   
    .curncy-swit{padding-right:0;}
}
@media(max-width: 1200px){
    .lang-box{padding-left: 24px !important;}
    .user_account{margin-top: 0px;}
}
@media (max-width:991px) {
    .checkout-onepage-index .col2-right-layout .main{padding-top:0;}
    .checkout-onepage-index .main .col-main{width:100%;}
    .checkout-onepage-index #checkoutSteps li{margin-bottom:10px;} 
    .header_wrapper{width:100%;float:left;}
    .logo{padding:0 15px;margin:10px 0 15px;text-align:center;}
    .logo a{display:inline-block;}
    .lang-box{padding-left:14px !important;float: right;display: inline-block;width: auto;}
    .head_right{text-align:center;}
    .navbar.megamenu-pc{margin-top:0;}

}

@media (min-width:320px) and (max-width:767px) {
    .alnab-header{padding:0 10px;}
    .translated-rtl .lang-box {float: left; padding:0;}
    
}
@media (max-width:639px) {
    .lang-box{width:50%;}
    .curncy-swit{width:50%;}
    .head_right{width:100%;margin:15px 0 0;}
}

@media (min-width:992px) and (max-width:1199px) {


    .cart {padding: 0 0 0 5px;}
    .cart a {font-size: 17px;padding: 0px 12px;}
    .search_bar input {height: 44px;}
    .search_bar button {height: 44px;}
    .owl-dots {bottom: 10px;}
    .my_nav ul li a{font-size: 15px !important;padding: 13px 12px 14px !important;}
    .my_nav{padding-top: 93px;}
    .my_nav ul li ul {width: 98%;}    
    .slider_text {width: 50%;}
    .slider_text h2 {margin: 40px 0px 0;font-size: 48px;}
    .slider_text h1 {margin: 2px 0;font-size: 55px;}
    .slider_text p {margin: 0px 0 10px; font-size: 24px;}
    .slider_wrapper {height: auto;}
    .slider_text a {font-size: 17px;padding: 10px 26px;}
    .slider_wrapper #slider .item img{min-height: 300px;}
/*    .user_option {top: 68px;right: 110px;}    
*/    .p_section_heading a{padding: 10px 20px;}
    .product_display .product_image{height: 140px;width: 140px;}
    .p_section_heading {padding: 20px;}
    .p_section_heading h2 {font-size: 20px;}
    .product_price p {font-size: 17px;}    
    .Logo_brand_block {border-right: solid 2px #e5e6e6;}
    .logo_brand_inner {width: 80%;}    
    .harman {width: 50%;height: 200px;padding: 45px 0 30px 45px;}
    .harman h1 {font-size: 28px;width: 55%;line-height: 34px;margin-bottom: 7px;}
    .harman a {font-size: 15px;}
    .head_phone {width: 50%;height: 200px;padding: 45px 0 30px 45px;}
    .head_phone h1 {font-size: 28px;width: 65%;line-height: 34px;margin-bottom: 7px;}
    .head_phone a {font-size: 15px;}
    .payment-block ul li {width: 55px; margin: 0 5px 0 0;}
    .footer_logo img{width: 75%;}    
    /*.producting_listing_wrapper {padding: 150px 9px 40px;} */   
    .copyright{margin-top: 20px;}    
    /*  MY CART PAGE CSS  */
    .cart_item {padding: 0 15px 90px;}
    .add_cart_details table tr td {padding: 30px 10px;}
    .pro_banner_text {width: 75%;padding: 35px 15px 25px;}
    .pro_banner_text h1 {font-size: 50px;}
    .pro_banner {min-height: 215px;}
    .pro_banner_text p {font-size: 20px;padding: 5px 0 5px;}
    .pro_banner_text a {font-size: 20px;}
    .continue_proceed button {font-size: 18px;padding: 11px 35px;}
    .totel_prize li {font-size: 20px;}
    .totel_prize {padding: 15px 0 25px;}
    .total_detail {padding: 20px 0;}
    .total_detail li {font-size: 18px;}
    
    /* Order Detail Page Css*/
    .order_info ul li:nth-child(2) {width: 20%;}
    .order_info ul li:nth-child(3) {width: 20%;}
    .order_info ul li:last-child {width: 34%;}
    .order_ship li:nth-child(2) {width: 60% !important;}
    .order_ship li:nth-child(3) {width: 40% !important;}
    .order_ship li:last-child {width: 60% !important;}
    .order_info {padding: 30px 25px 30px;margin-bottom: 40px;}
    /* End Order Detail Page Css*/
    
    
    /* My Account Detail Start */
    .account_detail label {margin-bottom: 10px;}
    .account_detail .form-group {margin-bottom: 25px;}
    .btn1 {font-size: 17px;padding: 13px 37px;}
    .account_detail h3 {margin: 30px 0;}
    /* End My Account Detail Start */
    
    
    .view_detl button {font-size: 12px;padding: 8px 10px;margin-bottom: 5px;}
    .view_detl a {font-size: 15px;}
    
    
}
@media (min-width:1200px) and (max-width:1900px) {
    .product_display .product_image{height: 140px;width: 140px;}
    .slider_text h1 {font-size: 75px;}


    .slider_text {width: 50%;}
    .slider_wrapper #slider .item img{min-height: 300px;}
    .harman {height: 257px;padding: 50px 0 0 60px;}
    .head_phone {height: 257px;padding: 50px 0 0 60px;}
    .slider_text h2 {margin: 30px 0px 0; font-size: 58px;}
    .harman h1 {font-size: 40px;width: 55%;line-height: 50px;margin-bottom: 15px;}
    .head_phone h1 {font-size: 40px;width: 65%;line-height: 50px;margin-bottom: 15px;}
    .navbar-default .navbar-nav > li > a {font-size: 15px;padding: 13px 12px 14px;}
    .producting_listing_wrapper {padding: 10px 9px 40px;}
    
}


@media (min-width:1400px) {
    .container { /*width: 1358px;*/width: 100%;
    padding: 0 100px;}
    
}

@media screen and (max-width:479px){
    .harman h1 {width: 80%;}
    .head_phone h1 {width: 80%;}
    .product_description ul li p, .prod_desc ul li p{font-size:12px; margin-bottom: 2px;}
    .prod_desc p { font-size: 12px !important;  margin-bottom: 13px;}
    #specs td {font-size:12px;}
    .prod_desc .desc .nav-tabs li a{font-size:15px;}
    #pswdbox  h1{font-size:22px;}
    #pswdbox  p{font-size:14px;}
    .checkout-onepage-index .main #checkout-step-login .product_checklogin .container{padding:0;}
    .lang-box{width: 84%;
    margin: auto;}
    .lang-box #google_translate_element{float: right; display: inline-block;}
    .curncy-swit {width: 50%; margin-left: 22px;}
}


@media(max-width: 767px){
    .hidden_mob{
        display: none;
    }
    .copyright.container {
    margin-top: 0;
}
.my-footer {
    padding: 20px 0 0;
}
.footer-block {
    margin-bottom: 15px;
}
.my-footer .container div {
    text-align: center;
}
.social-icon {
    padding-left: 0px !important;
}
.main-container, .footer-container, .my-footer .container, .std {
    padding: 10px 20px;
}
}

arbic