body 
{
    font-family: 'Proxima Nova Alt Rg';
    background-color: #f5f7f8;
}
ul, li{padding:0;list-style: none;}
a:hover
{
    text-decoration: none;
}
a:focus
{
    text-decoration: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus
{
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
{
    margin: 0px;
}
.input-group .form-control:focus 
{
    z-index: 0;
}
/*
*/
.navbar
{
    border-radius: 0px;
}
.navbar-default .navbar-brand 
{
    color: #fff;
}
.navbar-default .navbar-brand:hover
{
    color: #fff;
}
.navbar-default .navbar-brand:focus
{
    color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover 
{
    background-color: #fff;
}
.navbar-toggle 
{
    background-color: #fff;
}
.navbar-default .navbar-toggle
{
    border: none;
}
.navbar-toggle .icon-bar + .icon-bar{margin-top: 5px;}
.navbar-toggle .icon-bar{width: 27px;}

.nav-tabs > li{margin-bottom: 0px;}
.nav-tabs > li > a{border: 0px;}

/*

.navbar-collapse.in {
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 280px;
    height: 100%;
    background-color: #00b7e4;
}
*/
/*
.collapse {
    display: block;
    position: fixed;
    top: 0;
    width: 280px;
    height: 100%;
    background-color: #00b7e4;
}

.navbar-nav {
    float: left;
}
*/
/************************HEADER CSS************************/
.header_wrapper
{
    background-color: #a5d9e8;
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    z-index: 9;
    box-shadow: 0 0 9px -5px #000;
    -webkit-box-shadow: 0 0 9px -5px #000;
    -moz-box-shadow: 0 0 9px -5px #000;
    /*padding-bottom: 20px;*/
}
.logo
{
    
    padding: 0px 15px 0 15px;
}
/* .search_bar
{
    width: 50%;
    float: left;
} */
.search_bar input
{
    height: 35px;
    background-color: #f6f6f6 !important;
    border: none;
    box-shadow: none;
    border-radius: 3px;
    padding: 0 20px;
}
.search_bar input:focus
{
    box-shadow: none;
}
.search_bar button
{
    height: 35px;
    border: none;
    -moz-border: none;
    -webkit-border: none;
    background-color: #ffffff;
    
    padding: 0 15px;
    border-radius: 3px;
}
.search_bar button i
{
    font-size: 20px;
}

/*Edit by Rahul*/
.search_bar button:hover
{
    /*background-color: #00b7e4 !important;*/
    background-color: #ffffff !important;
   /* color: #fff !important;*/
}
/*Edit by Rahul*/
.search_bar button:active
{
    background-color: #00b7e4 !important;
    color: #fff !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.search_bar button:focus
{
    background-color: #00b7e4 !important;
    color: #fff !important;
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 2;
}
.overlay2 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}
.mobile_search_bar
{
    position: relative;
}
.mobile_search_bar,.navbar-form input
{
    padding-left: 75px;
    background-color: transparent !important;
    border: solid 1px #e6e6e6;
    border-radius: 0px;
}
.mobile_search_bar,.navbar-form input:focus
{
    border: solid 1px #e6e6e6;
}
.mobile_search_bar,.navbar-form
{
    margin: 0px;
    padding: 0px;
    border: none;
}
.mobile_search_bar,.navbar-form a
{
    color: #cbc9c9;
    position: absolute;
    top: 0;
    padding: 13px 22px;
    width: 56px;
    height: 47px;
    border-right: solid 1px #e6e6e6;
}
.search_bar.fixSearch{position: fixed;top: 0;width: 100%;margin: 0;left: 0;
    box-shadow: 0 0 4px -2px #000;-webkit-box-shadow: 0 0 4px -2px #000;-moz-box-shadow: 0 0 4px -2px #000;
}
/* search Ends */

.head_right
{
   
    /*text-align: right;*/
/*    position: relative;*/
    float: left;
    padding: 0px;
    /*margin-top: 10px;*/
}
.head_right .user_account{
    text-align: left;

}
.user_account
{
    margin: 0px;
    display: inline-block;
	vertical-align:middle;
	margin-top: -3px;
    text-align: right;
    padding-right: 6px;
    border-right: 1px solid #c7d263;
    /*margin-top: 10px;*/
}
.user_account a
{
    font-size: 13px !important;
    color: #444444;
}
.user_account i
{
    vertical-align: middle;
    color: #a2a7b1;
}
.user_account a img
{
    margin-right: 6px;
}
.user_account i:first-child
{
    font-size: 38px;
    padding: 0 5px 0 0;
}
.user_account i:last-child
{
    font-size: 24px;
    padding: 0 0 0 11px;
    color: #444444;
}

.user_option 
{
    margin: 0px;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    position: absolute;
    z-index: 9;
    background-color: #fff;
    width: 190px;
    top: 45px;
    right: 70px;
    display: none;
}
.arrow-up {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e1e1e1;
    position: absolute;
    right: 10px;
    top: -11px;
}
.user_option ul
{
    margin: 0px;
    padding: 0px;
}
.user_option ul li 
    {
    list-style-type: none;
    display: block;
    text-align: left;
    border-bottom: solid 1px #e5e6e6;
}
.user_option ul li a {
    display: block;
    padding: 15px 13px;
    font-size: 14px;
}
.cart
{
    display: inline-block; 
    padding: 0px;
}
/*.curncy-swit select {
    margin-left: 40px;
}*/
.cart a
{
    /*background-color: #11b14b;*/
    background-color: none;
    color: #444;
    font-size: 17px;
    display: block;
    /*padding: 8px 0px 7px;*/
    border-radius: 3px;
    margin-top: 7px;
}
/*.header-minicart{
    width:75px;
}*/
.cart a img
{
    vertical-align: middle;
    padding: 0 8px 0 0;
}





/*Traslated Arabic language Change direction start from here*/
/*.translated-rtl {
  direction: rtl;
}*/
.translated-rtl .header_wrapper {
    direction: rtl;
    position: absolute;
    right: 0;
}
/*.translated-rtl .navbar {
    position: relative;
    right: 0;
}*/
.translated-rtl .logo{float: right;}
.translated-rtl .search_bar.hidden-xs.hidden-sm{
    float: right;
}
.translated-rtl .ms-megamenu .ms-topmenu {
     text-align: right; 
}
.translated-rtl .ms-megamenu .row{
    float: right;
    margin-right: 15px;
}
.translated-rtl .arrow-up{left: 10px !important;}
.translated-rtl .user_account .user_option{left: 70px !important;}

/*.translated-rtl .cms-index-index{
    direction: rtl;
}*/

.translated-rtl .lang-box{float: right;}
.translated-rtl .header-minicart{margin-top: 4px !important;}
.translated-rtl .header-minicart .block-subtitle .close{float: left !important; left: 0px !important;}
/*Traslated Arabic language Change direction END from here*/

/*.header-minicart{
    width:100px;
    margin-left: -11px;
}*/



.lang-box #google_translate_element{/*background: #f6f6f6 none repeat scroll 0 0; */ /*border: 1px solid #e8e6e6; */float: left; height: auto; padding: 0; border-right:1px solid #c7d263; text-align:center;margin:0; margin-top: 10px;}
.lang-box #google_translate_element span{color:#555!important;display:inline-block;font-size:13px; }
.lang-box #google_translate_element span:last-child{font-size:10px;}
.curncy-swit select#select-currency{
    background: none;
    box-shadow: none;
    padding: 12px 0;
    color: #555;
    border-right: 1px solid #c7d263 !important;
    /*padding-right: 5px;*/
    padding: 3px 0px;
    border: 0;
    margin-top: 10px;
    float: right;
    font-size: 13px;

    }
    .lang-box.col-md-2.col-sm-4.col-xs-4 {
    margin: 0px !important;
    padding: 0px !important;
}
#search_mini_form input.form-control{/*border: 1px solid #e8e6e6;*/ background: #ffffff !important;}
/************************END HEADER CSS************************/
/************************NAVBAR CSS************************/
.my_nav
{
    padding-top: 95px;
    position: fixed;
    z-index: 5;
    width: 100%;
    -webkit-transition: all .4s linear 0s;
    transition: all .4s linear 0s;
}
.anim_menu
{
    margin-top: -95px;
    -webkit-transition: all .4s linear 0s;
    transition: all .4s linear 0s;
}
.navbar-collapse
{
    padding: 0px;
}
/*Background color change by rahul*/
.navbar-default
{
	background: #ebebeb;
    /*background-color: #00b7e4;*/
}
/*Background color change by rahul*/

.ms-megamenu .ms-topmenu
{
	background: #ebebeb;
	color:#434343;
    /*background-color: #00b7e4;*/
}
/*Background color change by rahul*/


.ms-topmenu .ms-label{
	color:#434343;
    padding: 10px 11px !important;
}

section.slider_wrapper {
    margin-bottom: 25px;
}

/*Media Query Add By Rahul */
@media(max-device-width: 1439px){ 
    .lang-box{padding: 0px 38px;}
    .lang-box #google_translate_element span{font-size: 13px;}
    .curncy-swit select#select-currency{font-size: 13px; float: initial;}
}

/*Media Query Add By Rahul */


/*Background color change by rahul*/

/*Media max-width 992px*/
@media (min-width: 992px){
.ms-megamenu .container {
    width: 100%;
    padding: 0px 50px;
}
/*.slider_wrapper {
    padding: 0px 70px;
}*/
.navbar {
    margin-bottom: -20px;}

}

/*Media max-width 992px*/


/*Media max-width 1200px*/

@media (min-width: 1200px){
.ms-megamenu .container {
    width: 100%;
    padding: 0px 100px;
}
/*.slider_wrapper {
    padding: 0px 100px;
}*/


}


/*Media max-width 1200px*/
.navbar
{
    margin-bottom: -20px;
    border: none;
    min-height: auto;
    margin-top: 65px;
}
.navbar-nav
{
    float: none;
}
.navbar-default .navbar-nav > li > a
{
    color: #fff;
    font-size: 16px;
    padding: 13px 21px 14px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
{
    color: #fff;
    background: none;
}
.navbar-nav > li > a
{
    padding: 0px;
}
.my_nav ul
{
    display: table;
    margin: auto;
}
.my_nav ul li
{
    border-bottom: solid 0px #fff;
    position: initial;
    min-height: 47px;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
}
.navbar-nav li a i {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 15px;
    width: 20px;
    display: none;
}
.my_nav ul li a
{
    overflow: hidden;
}
.my_nav ul li a:before
{
        content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    height: 3px;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.my_nav ul li:hover a:before
{
        -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    z-index: 1;
}
.one
{
    display: none;
}
.my_nav ul li ul {
    position: absolute;
    left: 0;
    width: 1358px;
    display: none;
    background-color: #ffffff;
    margin: 0 auto 0;
    right: 0;
    padding: 20px;
    overflow: hidden;
    -webkit-box-shadow: 0 6px 12px 0 rgba(0,0,0,.1);
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.1);
}
.sub_nav
{
    border: solid 1px #f7f7f7;
}

.sub_nav li
{
    display: inline-block;
    width: 24.5%;
}
.sub_nav_heading p 
{
    font-size: 17px;
    color: #8c8c8c;
    padding: 10px 0;
    margin: 0px;
    border-bottom: solid 1px #e5e6e6;
}
.sub_nav_heading ul li
{
    width: 50%;
}
.sub_nav_links {
    display: block !important;
    position: relative !important;
    width: 100% !important;
    padding: 20px 0px !important;
    box-shadow: none !important;
}
.sub_nav_links li
{
    background-color: transparent;
    width: auto;
    list-style-type: none;
    display: block;
}
.sub_nav_links li a
{
    display: block;
    padding: 8px 0;
}
.userview a 
{
    padding: 25px 15px 20px;
    display: block;
}
.userview img {
    line-height: 48px;
    vertical-align: middle;
    color: #666;
    padding-right: 15px;
}
.in-block--vm {
    display: inline-block;
    vertical-align: middle;
}
.in-block--vm h5 {
    padding: 0;
    font-weight: 400;
    color: #fff;
    font-size: 17px;
}
.in-block--vm p {
    color: #fff;
    margin: 0px;
}
.user_block
{
    height: auto !important;
    border-bottom: solid 1px #fff !important;
    margin-bottom: 15px;
}

/************************END NAVBAR CSS************************/
/************************SLIDER CSS************************/
/*.slider_wrapper
{
    padding: 0px 11px 30px;
}*/





/*
.slider_wrapper
{
    background: url(../images/slider_1.png) no-repeat top center;
    background-size: cover;
    height: 475px;
    margin: 8px 10px 30px;
    position: relative;
}
*/
.slider_text
{
    text-align: right;
    width: 100%;
    max-width:890px;
    position: absolute;
    z-index: 9;
    top: 0;
    left:0px;
}
.slider_text h2
{
    margin: 85px 0px 0;
    font-size: 60.06px;
    color: #fcea86;
    font-family: 'Abril Fatface';
    text-transform: uppercase;
    font-style: italic;
}
.slider_text h1
{
    margin: 0px;
    font-size: 90.09px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.slider_text p
{
    margin: 0px 0 23px;
    font-size: 30.04px;
    color: #fff;
    font-family: 'Proxima Nova Lt';
}
.slider_text a
{
    margin: 0px;
    font-size: 18.02px;
    color: #fcea86;
    text-transform: uppercase;
    border: solid 1px #fcea86;
    padding: 10px 30px; 
    display: inline-block;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.slider_text a:hover
{
    background-color: #fcea86;
    color: #400c54;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.flexslider
{
    margin: 0 0 0;
}
.owl-prev,.owl-next{font-size:0;} 
.owl-prev:after{
    content: "\f104";
    position:absolute;
    font-family:'FontAwesome';
font-size: 34px;
top: 5px;
    left: 13px;
}
.owl-nav {
    position: absolute;
    top: 42%;
    width: 100%;
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev
{
    font-size:0; 
    line-height:34px;
    display: inline-block;
}
.owl-next:after{
    content: "\f105";
    position:absolute;
    font-family:'FontAwesome';
    font-size: 34px;
    top: 5px;
    left: 16px;
}
.owl-prev 
{
    font-size: 28px;
    position: absolute;
    left: -1.5%;
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #8f8f8e;
    padding: 7.5px 15px;
    text-align: center;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -webkit-transition: all .18s ease-out;
    transition: all .18s ease-out;
}
.owl-prev:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .18s ease-out;
    transition: all .18s ease-out;
    -webkit-box-shadow: 1px 2px 10px 1px rgba(0,0,0,.3);
    box-shadow: 1px 2px 10px 1px rgba(0,0,0,.3);
}
.owl-next
{
    font-size: 28px;
    position: absolute;
    right: -1.5%;
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #8f8f8e;
    padding: 7.5px 15px;
    text-align: center;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -webkit-transition: all .18s ease-out;
}
.owl-next:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 2px 15px rgba(0,40,53,.2);
    -webkit-box-shadow: 0 2px 15px rgba(0,40,53,.2);
    -moz-box-shadow: 0 2px 15px rgba(0,40,53,.2);
}
.owl-dots 
{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 20px;
}
.owl-dot span {
    height: 8px;
    width: 8px;
    display: block;
    background-color: #f6e284;
    border-radius: 50%;
    margin: 0px 3px;
}
.owl-dots .active span
{
    background-color: #e9ecf5;
}
/************************END SLIDER CSS************************/
/************************SELLING PRODUCT CSS************************/
.Product_section
{
    border: solid 1px #e5e6e6;
    background-color: #fff;
    margin-bottom: 25px;
    position: relative;
}
.p_section_heading
{
    padding: 15px 30px;
}
.p_section_heading h2
{
    font-size: 14px;
    margin: 0px;
    color: #343237;
    font-weight: 600;
    display: inline-block;
}
.p_section_heading a
{
    float: right;
    background-color: #00b7e4;
    color: #fff;
    font-size: 15px;
    display: block;
    padding: 7px 20px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    top:-9px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease; 
    box-shadow: 0 4px 5px rgba(0,40,53,.2);
    -webkit-box-shadow: 0 4px 5px rgba(0,40,53,.2);
    -moz-box-shadow: 0 4px 5px rgba(0,40,53,.2);
}
.p_section_heading a:hover
{
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease; 
    box-shadow: none;
}
.Pslider.items3 .item {
    width: 50%;
    border-bottom: solid 1px #e5e6e6;
}
.Pslider.items3 .item:nth-child(n+7){
    display: none;
}
#slider.owl-carousel .owl-item img{ width:100% !important;}
.product_block
{
    margin: 0px;
    border-top: solid 1px #e5e6e6 !important;
}
.owl-carousel .owl-item img {
    width: auto !important;
    min-height: 69px;
}
.product_block ul
{
    margin: 0px;
    padding: 0px;
}
.product_block ul li
{
    list-style-type: none;
    display: inline-block;
    width:100%;
}
.product_display
{
    border-right: solid 1px #e5e6e6;
    padding: 33px 15px;
    text-align: center;
/*    max-height: 393px;*/
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.product_display:hover
{
    -webkit-box-shadow: 0 2px 13px rgba(0,40,53,.2);
    -moz-box-shadow: 0 2px 13px rgba(0,40,53,.2);
    box-shadow: 0 2px 13px rgba(0,40,53,.2);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;     
}
.product_display .product_image{
    height:200px;
    width: 200px;
    text-align: center;
    margin: 0 auto 25px;
}
/*.owl-carousel .owl-item .product_display .product_image img{width: auto;max-width: 100%;}*/
.product_image a img
{
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;  
}
.product_display:hover .product_image a img
{
    -webkit-transform: translate3d(0,-3px,0);
    -moz-transform: translate3d(0,-3px,0);
    transform: translate3d(0,-3px,0);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;  
}
.product_name
{
    height: 50px;
    overflow: hidden;
}
.product_name h4 a {
    font-size: 15.09px;
    color: #010101;
    display: block;
    height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    
}
.product_desc h3 a
{
    font-size: 18.1px;
    color: #00b7e4;
    padding: 10px 0;
    display: block;
}
.product_price p
{
    font-size: 19px;
    color: #000;
    margin: 0px;
}
.cross_price
{
    font-size: 15px;
    color: #999999;
    padding-left: 8px;
    text-decoration: line-through;
}
/************************END SELLING PRODUCT CSS************************/
/************************ACCESSORIES COLLECTION CSS************************/
.accessories_section
{
    overflow: hidden;
    margin-bottom: 40px;
}
.harman
{
    float: left;
    width: 50%;
    background: url(../images/studio_bg.png) no-repeat top center;
    background-size: cover;
    height: 400px;
    padding: 104px 0 0 72px;
}
.harman h1
{
    font-size: 47px;
    color: #fff;
    font-weight: 600;
    width: 50%;
    line-height: 59px;
    margin-bottom: 35px;
}
.harman a
{
    font-size: 17px;
    color: #fff;
    text-decoration: underline;
    font-family: 'Proxima Nova Alt Lt';
}
.head_phone
{
    float: left;
    width: 50%;
    background: url(../images/headphone_bg.png) no-repeat top center;
    background-size: cover;
    height: 400px;
    padding: 104px 0 0 72px;
}
.head_phone h1
{
    font-size: 47px;
    color: #fff;
    font-weight: 600;
    width: 50%;
    line-height: 59px;
    margin-bottom: 35px;
}
.head_phone a
{
    font-size: 17px;
    color: #fff;
    text-decoration: underline;
    font-family: 'Proxima Nova Alt Lt';
}
/************************END ACCESSORIES COLLECTION CSS************************/
/************************CUSTOM NAVIGATION CSS************************/

/************************END CUSTOM NAVIGATION CSS************************/
/************************LOGO BRAND CSS************************/
.logo_brand
{
    position: relative;
}
.logo_brand_inner
{
    border: solid 1px #e5e6e6;
    position: relative;
    width: 71.5%;
    margin: auto;
    background: #f1f1f1;
}
/*.Logo_brand_block
{
    background-color: #fff;
    padding: 55px 30px;
    border-right: solid 1px #e5e6e6;
}*/
.Logo_brand_block a img
{
    margin: auto;
}
.logo_brand_inner ul
{
    margin: 0px;
}
.logo_brand_inner ul li
{
    margin-right: 0px !important;
    width:100% !important;
    list-style-type: none;
    display: inline-block;
    float: left;
    margin: 15px;
}
.logo_brand_inner .owl-nav .owl-prev
{
    left: -6%;
    top:-8px;
}
.logo_brand_inner .owl-nav .owl-next
{
    right: -6%;
    top:-8px;
    
}
/************************END LOGO BRAND CSS************************/
/************************FOOTER CSS************************/
.my-footer 
{
    background-color: #fff;
    padding: 137px 0 0;
    margin-top: -74px;
}
.footer-block
{
    margin: 0px;
    float: left;
    width: 22%;
}
.footer-block:first-child
{
    width: 30%;
}
.footer-block:last-child
{
    width: 26%;
}
.footer_logo
{
    margin-bottom: 25px;
}
.footer-block p
{
    font-size: 16px;
    color: #666;
    width: 75%;
    margin: 0px 0 18px;
}
.footer-block h2
{
    margin: 0px 0 15px;
    color: #333333;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Proxima Nova Alt Rg';
}
.footer-block ul
{
    margin: 0px;
    padding: 0px;
}
.footer-block ul li
{
    list-style-type: none;
    display: block;
    line-height: 32px;
    font-size: 16px;
}
.footer-block ul li a
{
    color: #666666;
    font-size: 17px;
}
.footer-block ul li a:hover
{
    text-decoration: none;
}
.footer-block ul li a:focus
{
    text-decoration: none;
}
.footer-block ul li i
{
    color: #3c3d3d;
    font-size: 17px;
    padding-right: 10px;
}
.footer_heading2
{
    margin-top: 30px !important;
}
.social-icon
{
    padding-left: 24px !important;
}
.social-icon li
{
    display: inline !important;
    margin-right: 5px;
}

.social-icon li a 
{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    height: 30px !important;
    width: 28px;
    display: inline-block;
    text-align: center;
    padding: 4px;
}
.social-icon li a i 
{
    font-size: 22px;
    padding: 0px;
}
.footer-block label
{
    font-weight: normal;
    font-size: 17px;
    padding: 4px 0;
    color: #666666;
}
.footer-block input
{
    height: 46px;
    border-radius: 0px;
    border: solid 1px #cccccc;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.footer-block input:active
{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid 1px #cccccc;
}
.footer-block input:focus
{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid 1px #cccccc;
}
.footer-block button
{
    background-color: #00b7e4;
    width: 100%;
    font-size: 21px;
    color: #fff;
    border: none;
    border-radius: 0px;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    height: 48px;
    text-transform: uppercase;
}
.footer-block button:hover
{
    background-color: #1ec3ec;
    color: #fff;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.footer-block button:focus
{
    background-color: #1ec3ec;
    color: #fff;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.footer-block button:active
{
    background-color: #1ec3ec !important;
    color: #fff !important;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    
}
.payment-block
{
    margin: 32px 0 0;
}
.payment-block ul
{
    margin: 0;
    padding: 0;
}
.payment-block ul li 
{
    list-style-type: none;
    display: inline-block;
    margin: 0px 10px 0 0;
}
.copyright
{
    padding: 20px 0 18px;
    border-top:  solid 1px #cccccc;
    margin-top: 50px;
}
.copyright p
{
    margin: 0px;
    color: #221e1f;
    text-align: center;
    font-size: 13.17px;
    font-family: 'Proxima Nova Alt Lt';
}
/************************END FOOTER CSS************************/
/*PRODUCT LISTING PAGE CSS*/

.productlist_wrapper {float: left; border-bottom: 1px solid #ddd;}
.product_block{border:0;}
.product_listing_left {float: left;width: 100%; background-color: #fff; max-width: 260px;position: absolute;border:1px solid #ddd;overflow: auto;}
.product_listing_right {float: left;width: 100%;background-color: #f6f6f6; padding-left: 270px;}
.product_listing_right li.item { width: 25%;float: left; border-top: 1px solid #e8e8e8;}
.sub-banner { padding: 15px;}
.sub-banner img {width: 100%;}
.breadcrumb {padding: 15px 15px 0;list-style: none;background-color: #fff;border-radius: 0;margin:0;}
.breadcrumb>li+li:before {content: "\f105"; font-family: 'FontAwesome';}
.breadcrumb>li a {color: #919191; font-size: 14px;}
.producting_listing_wrapper {background: #f6f6f6;padding: 10px 9px 40px;overflow: hidden;}
.pwrapper {width: 100%;float: left;background: #fff;margin-bottom: 30px; height:100%; border:1px solid #ddd;    }
.item {position: relative;}
.tag {position: absolute;top: 30px;overflow: hidden; min-height: 28px;float: left;z-index: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);left: 0;width: auto;padding: 0 12px;background: #0979bf;color: #fff;line-height: 26px;border-radius: 0 3px 7px 0px;text-transform: uppercase;}
span.savetag {top: 63px;background: #11b14b;}
span.offertag {top: 30px;background: #ef3131;} 
.sdr-title{border-bottom:1px solid #ddd; padding:10px 0 9px;padding:12px 15px;}
.sdr-title h2{font-family: 'Proxima Nova Rg'; font-weight:bold; font-size:19px;display:inline-block; }      
.sdr-title span{float:right;}
.sdr-title span a{color:#000;font-family: 'Proxima Nova Rg'; font-size:14px;}
.sidebar_wrapper{padding:13px 15px;border-bottom: 1px solid #ddd;}
.sidebar_wrapper .grpTitle{font-size:15px;font-family: 'Proxima Nova Rg';color:#000; text-transform:uppercase; padding:7px 0 10px; font-weight:bold; position:relative; cursor:pointer;}
.sidebar li a:focus{outline: none;}
.sidebar_wrapper .sublinks> a{font-weight:bold;position:relative;font-size: 14px;padding-left: 18px;}
.sidebar_wrapper .sublinks ul{display:none;}        
.sidebar_wrapper .sublinks> a::after{content: "\f105";font-family: 'FontAwesome';left: 5px;position: absolute;}
.sidebar_wrapper ul li label{font-size:15px; margin:0; padding:4px 0; color:#333333;	font-family: 'Proxima Nova Alt Rg'; font-weight:100; padding-left: 25px; position:relative;}
.sidebar_wrapper ul li label span:before{content: '';width: 16px;height: 16px;border: 1px solid #b9b9b9;position: absolute;left: 2px;}
.sidebar_wrapper ul li label input{display:none;}
.sidebar_wrapper ul li label input[type="checkbox"]:checked +  span:before{ background-color:#00b7e4; border:1px solid #00b7e4; background-image:url('images/checked.png'); background-repeat:no-repeat; background-position:center; background-size:contain; }
.sidebar_wrapper ul li a{color:#747474;font-family: 'Proxima Nova Rg'; font-size:15px; padding:8px 15px; display:block;}       
.sidebar_wrapper .noUi-horizontal .noUi-handle {    width: 13px;height: 13px;left: -17px;top: -4px;border-radius: 50%;border: 2px solid #fff;background: #d0d0d0;}
.sidebar_wrapper .noUi-base {    background: #00b7e4;border-radius: 7px;}
.noUi-handle:before, .noUi-handle:after{display:none;}
.sidebar_wrapper .noUi-horizontal { height: 21px;background: #f1f1f1; border: 0; padding: 8px 11px 8px;    margin: 14px 0px;border-radius: 22px;box-shadow: inset 2px 2px 8px #c3c3c3;}
.sidebar_wrapper button.btn-info {background: #fff;color: #333;border-color: #d0d0d0;width: 30%;max-width: 94px; float: left;}
.sidebar_wrapper .bootstrap-select { max-width: 80px; float: left; margin:7px 0;}
.sidebar_wrapper .grpTitle:after{    content: "\f107"; font-family:'FontAwesome'; position:absolute; right:20px; }
.sidebar_wrapper .grpTitle.active:after{    content: "\f106";}
button.btn.dropdown-toggle.btn-info { width: 100%;}
.price-margin{width:100%; float:left;}
.sidebar_wrapper ul li ul a {padding: 8px 30px;}
.to{margin:0 auto; padding:0 12px; font-size:15px;font-family: 'Proxima Nova Rg'; font-weight:bold;}
.shorting{padding:10px 0;}
.shorting a {color: #333;    padding: 4px 0px;margin: 0 7px;}
.shorting a.active{color: #00b7e4; border-bottom: 2px solid #00b7e4;}
.product_price p { font-size: 21px; font-family: 'Proxima Nova Rg'; }
.producting_listing_wrapper .product_name h4 a {    font-size: 15.09px;color: #010101;display: block;line-height: 19px;min-height: 58px;overflow: inherit;text-overflow: initial;white-space: normal;}
.producting_listing_wrapper .product_name{padding:0 17px;height: auto;}
.producting_listing_wrapper .product_display{max-height:inherit;}
.producting_listing_wrapper .product_price {padding: 20px 0;}
@media screen and (max-width:1199px){
.product_listing_right li.item{width:33.333%;}
}
@media screen and (max-width:991px){
.product_listing_right li.item{width:49.9%;}
.product_listing_left {max-width: 220px;}
.product_listing_right { padding-left: 229px;}
.sidebar_wrapper .bootstrap-select {max-width: 72px;}
.producting_listing_wrapper .col-md-6.pull-right.text-right {float: left !important;text-align: left; font-size: 10px;}
}
@media screen and (max-width:767px){
 .producting_listing_wrapper{padding-top:0px;}
 .product_listing_right, .product_listing_left {width:100%; max-width:100%; position:relative;  height:auto !important;padding:0; margin:10px 0;}
 .sidebar_wrapper .grpTitle {font-size: 13px;padding: 7px 0 10px;}
 .sidebar_wrapper { padding: 4px 27px 0;}  
 .sidebar_wrapper .bootstrap-select {max-width:33%;} 
 .product_listing_right li.item{width:33.333%;} 
 .shorting a { margin: 0 4px;}       
 .sidebar_wrapper .grpTitle:after { right: 0px;}


}
@media screen and (max-width:579px){
.product_listing_right li.item{width:50%;}        
}
@media screen and (max-width:479px){

}

@media(max-width: 767px){
    .std {padding: 0px !important;}
}



/*MY CART PAGE CSS*/
.my_cart_wrapper{padding-top: 10px; margin-bottom: 0px;}
.breadcrumb2{padding: 15px 0px 0}
.add_cart_alert{background-color: #d0ffe1;border: solid 1px #b5f0ca;font-family: 'Proxima Nova Alt Lt';font-size: 14px;color: #11b14b;padding: 8px 14px; margin-top: 15px;}
.add_cart_alert img{margin-right: 7px;}
.cart_item{background-color: #fff;padding-bottom: 90px; border-top: solid 1px #e5e6e6; border-bottom: solid 1px #e5e6e6;}
.cart_heading{margin: 0px;}
.cart_heading h3{font-size: 17px; color: #000000;margin: 32px 0;font-weight: 600;}
.pro_description{margin: 0px;}
.pro_description h3{margin: 0px;font-size: 19px; font-weight: 600;}
.pro_description p{margin: 0px; font-size: 15px;max-width: 200px;line-height: 22px;}
.table{margin-bottom: 0px;}
.add_cart_details table tr th{font-weight: normal; font-size: 15px; color: #666666; text-transform: uppercase; padding: 0 0 18px 0;width:
    23%;border:none;}
.add_cart_details table tr td h1{font-size: 19px; color: #010101;}
.add_cart_details table tr td{padding: 40px 0;}
.add_cart_details table tr td i{color: #c2c2c2; font-size: 16px;}
.add_cart_details table tr td input {border: solid 1px #c2c2c2;width: 60px;padding: 4px 10px;margin: 0 6px 0 4px;text-align: center;}
.add_cart_details table tr:last-child td {border-bottom: solid 1px #e5e6e6;}
.product_image{width: 160px;}
.product_sub_totel {margin: 0px;width: 40%;text-align: right;float: right;}
.total_detail{border-bottom: solid 1px #e5e6e6;overflow: hidden; padding: 40px 0;}
.total_detail li{width: 50%; float: left; font-size: 19px; color: #666666; line-height: 35px;}
.totel_prize{padding: 25px 0 35px; line-height: 20px; overflow: hidden;}
.totel_prize li{width: 50%; float: left; font-size: 25px; text-transform: uppercase; color: #000; font-weight: bold;}
.continue_proceed{width: 100%; text-align: right;}
.continue_proceed button{font-size: 19px; color: #fff;text-transform: uppercase;border: none; padding: 15px 55px;}
.continue_proceed button:active , .continue_proceed button:focus{border: none; outline:0px; outline-offset: 0px;}
.shopping_btn{background-color: #11b14b;}
.checkout_btn{background-color: #00b7e4; margin-left: 12px;}
.pro_banner{background: url(../images/product_banner.png) no-repeat top center; min-height: 328px; background-size: cover; margin-top: 10px; display: none;}
.pro_banner_text{width: 50%; padding: 71px 0 50px;}
.pro_banner_text h1{font-size: 70px; color: #fff;font-family: 'ChaletComprime-CologneEighty';}
.pro_banner_text p{font-size: 21px; color: #fff;font-family: 'Proxima Nova Lt';padding: 15px 0 25px; margin: 0px;}
.pro_banner_text a{font-size: 21px; color: #fff; text-decoration: underline;}
/*END MY CART PAGE CSS*/

/* Product details start */
    .product_details .details {background: #fff; border:1px solid #d4d4d4; overflow: hidden;}
    .details .borderright{border-right:1px solid #d4d4d4;}
    .product_details { padding: 10px 0 60px; }
    .product_details div#prod-slider { margin-right: -14px;}
    .product_details .breadcrumb {padding: 15px 0;background:transparent;}
    .product_details #prod-slider .slick-slide{display:table;height: 350px; text-align:center;}
    .product_details #prod-slider .slick-slide figure{display:table-cell; vertical-align:middle; height:100%; background:#fff; }
    .product_details #prod-slider .slick-slide figure img{ max-width:100%; max-height:100%; height:auto; width:auto;}
    .product_details #thumb .slick-slide img{max-width: 100%;/* max-height: 62px; */max-height: 100%; margin: 0 auto;max-height: 61px;}
    .product_details #thumb .slick-slide figure{ padding:12px;max-height:79px; background:#fff;    border-right: 1px solid #e0e0e0;}
    .product_details #prod-slider .slick-slide img{margin:0 auto;}
    .product_details .slick-arrow{position: absolute; top: 0; z-index: 99; width: 40px; background: transparent;  height: 100%; border: 0; font-size:0; display:none; }
    .product_details #thumb:hover .slick-arrow{background: rgba(95, 95, 95, 0.36); display:block; }
    .slick-next{right:0;}
    ul.slick-dots{text-align:center; width:100%; position:absolute; bottom:0px; display:none !important; }
    ul.slick-dots li.slick-active button{background:#00b7e4;}
    ul.slick-dots li{display:inline-block;}
    ul.slick-dots li button {font-size: 0; padding: 0; margin:12px 4px; height: 8px; width: 8px; border-radius: 50%; background: #bbb; border: 0;}
    .product_details #thumb:hover .slick-arrow::after{font-size:40px;}
    .slick-prev::after{ content:"\f104";position:absolute;font-family: 'fontAwesome';top: 13px;left: 7px; color: #fff;}
    .slick-next::after{ content:"\f105";position:absolute;font-family: 'fontAwesome';top: 13px;left: 15px; color: #fff;}
    .product_details #thumb{height:80px;border-top: 1px solid #e8e8e8;    margin-bottom: 0;  margin-right: -15px;  margin-top: 10px;}
    .product_description{font-family: 'Proxima Nova Rg';padding: 26px 30px 0;}
    .product_description h1{color:#424242; font-size:21px; margin-bottom:18px;}
    .product_description h2{color:#00b7e4; font-size:17px;font-family: 'Proxima Nova Alt Rg'; font-weight:bold; margin-bottom:16px; }
    .product_description ul li p, .prod_desc ul li p{font-size:14px;font-family: 'Proxima Nova Rg'; position:relative; padding-left:15px;}
    .product_description ul li p b{ padding-right:12px;}
    .btn.offerBtn{color:#fff; font-size:14px; text-transform:uppercase; border-radius:0; background:#e52225; margin:16px 0 0; }
    .btn.viewMore{color:#fff; font-size:14px; padding:9px 20px;  text-transform:uppercase; border-radius:0; background:#11b14b; margin:10px 0 0; }
    .product_description ul li p span{color:#00b7e4; font-weight:bold; padding-left:8px;}
    .prod_desc .desc{background:#fff;    border: 1px solid #d8d8d8;}
    .prod_desc .desc .nav-tabs{padding:12px 15px 0;}
    .prod_desc .desc .nav-tabs li a{font-size:17px; color:#666666;display: inline-block !important;}
    .prod_desc .desc .nav-tabs li.active a{color:#00b7e4;border:0 !important; position:relative; }
    .prod_desc .desc .nav-tabs li.active a::after{content:''; position:absolute; height:1px; bottom:-1px; width:100%; background-color:#00b7e4;left:0;}
    .tab-content .tab-pane{padding:15px;}
    .prod_desc .nav-tabs>li>a:hover{background:#fff;border-top: #fff; border-left: #fff; border-right: #fff;}
    .prod_desc iframe{width:100%;border: 0; margin-bottom:20px;}
    .product_description ul li p::before, .prod_desc ul li p::before { content: ''; position: absolute; width: 6px; height: 6px; background: #b1b1b1; border-radius: 50%; top: 5px; left: 0;}
    .prod_desc p{font-size:15px !important; margin-bottom:12px;}
    .prod_desc h3{ font-size:15px;font-family: 'Proxima Nova Rg';  color:#333; font-weight:bold; margin-bottom:12px;}
    .prod_desc{margin-bottom:40px;}        
    #specs td{width:50%;border:1px solid #d4d4d4;padding:6px 15px;}
    #specs td.title{background:#f7f7f7;}
    #specs table{width:100%;margin-bottom:20px;}
    #specs h3{font-size:17px;}

/* Product details Ends */
/* forgate Password */
.frgtPassword{float:left; background:#c7e1ed;width: 100%; position: fixed;height: 100%; box-shadow: inset 1px 1px 110px #a7bfca;  }
.pswdbox {display: block; padding-top: 154px; overflow:auto;}
.pswdbox .modal-content {margin:0 15px; box-shadow: 1px 1px 32px #a2c6d6; padding: 46px 36px 71px; text-align: center; border: 0; background-color: #fff;}
.pswdbox .modal-dialog{max-width:490px; width:100%; margin:20px auto;}
.pswdbox  h1{ font-size:37px; font-family: 'Proxima Nova Th'; text-transform: uppercase; color:#5e6168; margin-bottom: 15px; }
.pswdbox  p{ font-size:18px; font-family: 'Proxima Nova Th'; color:#8f9197; margin-bottom: 30px; }
.pswdbox .form-control{height:43px; background-color:transparent; border-radius:0;}
.pswdbox .input-group .input-group-addon{background:none !important; color:#8f9197; border-radius: 0px;}
.pswdbox .input-group .form-control{border-left:#fff; color:#8f9197; font-size:15px; }
.pswdbox .input-group{margin-bottom:12px; background:#eef5f8;}
.pswdbox .input-group .form-control:focus { z-index: 0;  outline: none; border: 1px solid #d6d6d6; border-left:0;  box-shadow: none;}
.pswdbox .btn{background-color:#1ec3ec;color:#fff; font-size:18px; text-transform:uppercase;}
.bottomsec p{color:#494d54; font-size:17px; margin-bottom:14px;}
.bottomsec p a{color:#494d54; font-size:17px; border-bottom:1px solid #8f9197; }
.bottomsec p span a{color:#11b14b; border-bottom:1px solid #11b14b; font-weight:600;  }
.pswdbox .mgsError { font-size: 12px; text-align: left; float: left; width: 100%; display: none;}
/* forgate Password Ends */
/* Dashboard Starts */
.dashboard_inner{background-color: #fff; padding-bottom: 60px;}
.dashboard .breadcrumb{padding-left:0;}
.dashboard {margin: 0px 0 0px;border-bottom: 1px solid #e5e6e6; width: 100%;  }
.dashboardWrapper { margin-top: 15px;}
.dashboard .userIntro { display: table; width: 100%;}
.dashboard .userPart { display: table-cell; vertical-align: middle; text-align: center;}
.dashboard .userPart h1{font-size:25px; color:#444444; margin-bottom:12px;}
.dashboard .userPart p{font-size:17px; color:#666666;}
.dashboard .userPart p span{color:#1ec3ec;}
/* Dashboard Starts Ends */
/* sidebars */
.sidebar .userName p{font-size:16px;font-weight:100; margin-bottom:0; text-transform:uppercase;}
.sidebar .userName h3{font-size:23px;font-family: 'Proxima Nova Rg'; font-weight:bold; margin-bottom:12px;}
.sidebar .userName{padding: 15px; background: #11b14b; color: #fff;}
.sidebar a { padding: 15px 15px;  display: block;  font-size: 17px; border-bottom: 1px solid #e2e2e2; border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; color:#666666;}
.sidebar a:hover{color:#1ec3ec}
.sidebar a span{padding-left:20px;}

/* sidebars Ends */

/* My Profile Address Start */
.my_address{margin: 0px;}
.my_address h2{font-size: 17px; background-color: #f5f7f8; font-weight: 600; padding: 10px 20px;}
.address_detail{margin: 0px;}
.address_detail ul{margin: 0px;padding: 0px;}
.address_detail ul li{padding: 35px 30px 60px; border: solid 1px #e5e6e6; margin-top: 40px; position: relative; margin-right: 60px; display: inline-block;}
.address_detail ul li:last-child{margin-right: 0px;}
.address_detail ul li i {padding: 7px;border: solid 1px #e5e6e6;position: absolute;right: -13px; top: -14px;color: #b5b5b5; border-radius: 50%; width: 30px; height: 30px;text-align: center;cursor: pointer;box-shadow: 0 0px 7px -3px #696969;background-color: #fff;-webkit-text-stroke: 1px #fff;}
.address_detail ul li h3{font-size: 19px; color: #666666; padding-bottom: 18px;}
.address_detail ul li p{font-size: 17px; color: #666666;margin: 0px; line-height: 30px;}
/* End My Profile Address Start */


/* Order Detail Start */
.shipping_adress{padding: 58px 0 0;}
.shipping_adress h3{font-size: 17px; font-weight: bold; margin-bottom: 18px;}
.ship_detail{background-color: #f5f7f8;padding: 32px 35px; display: inline-block; min-width: 385px;}
.ship_detail p{margin: 0px; font-size: 17px; color: #666666;line-height: 26px;}
.order_receive{background-color: #11b14b; text-align: center; color: #fff; padding: 30px 15px;}
.order_receive i{font-size: 50px; -webkit-text-stroke:4px #11b14b;}
.order_receive h2{font-size: 27px;-webkit-text-stroke: .5px;margin: 25px 0 10px;}
.order_receive p{font-size: 17px; margin: 0px;}
.order_info{background-color: #f5f7f8; padding: 40px 60px 40px; margin-bottom: 55px;}
.order_info h3{font-size: 17px;color: #191919;-webkit-text-stroke: 0.4px;margin-bottom: 30px;}
.order_info ul{}
.order_info ul li{display: inline-block; width: 24%; vertical-align: top;}
.order_info ul li h4{font-size: 17px; color: #191919;-webkit-text-stroke: 0.5px; margin-bottom: 10px;}
.order_info ul li p{margin: 0px;font-size: 17px; color: #606060;}
.order_ship li{font-size: 17px; color: #606060; margin-bottom: 5px;}
.order_ship li:last-chold{margin-bottom: 0px;}
.order_ship li:nth-child(odd){width: 40%; float: left;}
.order_ship li:nth-child(even){width: 60%; float: left; text-align: right;}
/* End Order Detail Start */
/* My Account Detail Start */
.account_detail{margin: 0px;}
.account_detail h3{font-size: 19px;color: #666;margin: 40px 0;}
.account_detail h4{font-size: 19px;color: #000;margin: 25px 0 30px;}
.account_detail label{font-size: 17px;color: #666; font-weight: normal; margin-bottom: 15px;}
.account_detail label span{color: #999;}
.account_detail input{border-radius: 0px !important; box-shadow: none; min-height: 45px; border: solid 1px #e5e6e6;}
.account_detail input:focus{box-shadow: none; border: solid 1px #e5e6e6;}
.account_detail .form-group{margin-bottom: 35px;}

.my-account{margin: 0px;}
.my-account h3{font-size: 19px;color: #666;margin: 40px 0;}
.my-account h4{font-size: 19px;color: #000;margin: 25px 0 30px;}
.my-account label{font-size: 17px;color: #666; font-weight: normal; margin-bottom: 15px;}
.my-account label span{color: #999;}
.my-account input{border-radius: 0px !important; box-shadow: none; min-height: 45px; border: solid 1px #e5e6e6;}
.my-account input:focus{box-shadow: none; border: solid 1px #e5e6e6;}
.my-account .form-group{margin-bottom: 35px;}
.btn1{background-color: #00b7e4; color: #fff; border: none;font-size: 19px; text-transform: uppercase; border-radius: 0px;padding: 15px 60px;}
.btn1:hover{background-color: #00b7e4; color: #fff;}
.btn1:focus{background-color: #00b7e4 !important; color: #fff !important;}
/* End My Account Detail Start */

.my-model{width: 565px; text-align: center; padding: 54px 0;margin-top: 285px;}
.my-model, .modal-content{background-color: #00b7e4; border-radius: 0px; box-shadow: none; border: none; color: #fff;}
.my-model p{font-size: 27px;}
.my-model button{border-radius:0px; border: solid 1px #fff; padding: 4px 45px; font-size: 19px; margin: 0 5px; color: #00b7e4;}
.my-model button:hover{background-color: #fff;color: #00b7e4;border: solid 1px #fff;}
.my-model button:focus{background-color: #fff;color: #00b7e4;border: solid 1px #fff; box-shadow: none;}
.my-model button:active:focus{background-color: #fff;color: #00b7e4;border: solid 1px #fff;}
.btn_no{background-color: transparent; color: #fff !important;}
.btn_no:hover{background-color: #fff; border: solid 1px #fff;color: #00b7e4 !important;}
.btn_no:active:focus{background-color: #fff; border: solid 1px #fff;color: #00b7e4 !important; box-shadow: none;}
.btn_no:focus{background-color: #fff; border: solid 1px #fff;color: #00b7e4 !important;box-shadow: none;}


.cross_price2{font-size: 17px;color: #666666;padding-left: 15px;text-decoration: line-through;vertical-align: top;}
.save{color: #11b14b;font-size: 14px; text-transform: uppercase; margin: 0px; line-height: 24px;}
.intro2{display: block !important; height: auto !important;}
.view_detl a{display: block; font-size: 17px; color: #333; text-decoration: underline;-webkit-text-stroke: 0.3px #333;}
.view_detl button:focus{outline: none; border: none; box-shadow: none;}
.view_detl button{background-color: #00b7e4;border: none; color: #fff; text-transform: uppercase; font-size: 17px;padding: 11px 25px; margin-bottom: 15px;}
.view_detl{text-align: center;}
.intro2 table tr:last-child td {border-bottom: none;}
.intro2 table tr:first-child td {border-top: none;}
.intro2 .add_cart_details{padding-top: 30px;}
.btn-remove, .btn-previous { float: right; margin-right: 10px; }
.currently .btn-remove {  padding: 0px 10px; }
.ui-slider {width: 200px;}
.allfilter .price { padding-top: 15px; padding-left: 10px;}
.allfilter .go {width: 33px;}
.product_checklogin {}
/*.col2-right-layout .main { padding: 128px 0px 0px;} */
.cart_item a { color: #ccc; }
.checkout-cart-index .product-cart-actions button.button{margin-top:15px;}
.checkout-onepage-index .main .col-main{background: #fff none repeat scroll 0 0; margin: 30px 0; padding: 15px;width:68%;float:left;}
.page-title{text-align:center;}

.checkout-onepage-index .main #checkout-step-login .product_checklogin .container{width:100%;float:left;}
.checkout-onepage-index #checkout-step-login .product_checklogin .col-1,.checkout-onepage-index #checkout-step-login .product_checklogin .col-2{width:48%;}
.checkout-onepage-index #checkout-step-login .product_checklogin .col-1,.checkout-onepage-index #checkout-step-login .product_checklogin .col-2{ box-shadow: 0 1px 3px 0 #ccc; padding: 20px; text-align: left;font-family: "Proxima Nova Th";text-align:center;min-height:400px;}
.checkout-onepage-index #checkout-step-login .product_checklogin .col-2{float:right;text-align:center;}
.checkout-onepage-index #checkoutSteps .step-title{border: medium none;color: #000; padding-left: 15px;}
.checkout-onepage-index #checkoutSteps .step-title h2{color: #000;font-size:18px;  line-height: 26px;}

.checkout-onepage-index #checkout-step-login .product_checklogin .col-1 h3,.checkout-onepage-index #checkout-step-login .product_checklogin .col-2 h3{ color: #5e6168;  font-family: "Proxima Nova Th"; font-size: 22px; margin-bottom: 10px; text-transform: uppercase;}
.checkout-onepage-index #checkout-step-login .product_checklogin .col-1 p,.checkout-onepage-index #checkout-step-login .product_checklogin .col-2 p{ color: #8f9197;  font-family: "Proxima Nova Th";  font-size: 18px;  margin-bottom: 20px;font-style: normal;}
.checkout-onepage-index #checkout-step-login .product_checklogin .col-2 .form-list{text-align:left;}
.checkout-onepage-index #checkout-step-login .product_checklogin .col-2 .form-list label{font-size: 15px; font-weight: normal; line-height: 20px;}
.checkout-onepage-index #checkout-step-login .product_checklogin .col-2 .form-list li{margin-bottom:20px;}
.checkout-onepage-index #checkout-step-login .product_checklogin .col-2 .form-list li:last-child{margin:-15px 0 0;text-align:right;}
.checkout-onepage-index #checkout-step-login .product_checklogin .col-2 .form-list li:last-child a{color:#000;}
.checkout-onepage-index #checkout-step-login .product_checklogin .col-2 .form-list input{background: #eef5f8; color: #8f9197;font-size: 15px;	height: 43px;padding:10px;width:100%;}
.checkout-onepage-index #checkout-step-login .product_checklogin .buttons-set{width:100%;float:left;padding:0 50px;margin:15px 0;}
.checkout-onepage-index #checkout-step-login .product_checklogin .buttons-set button{ background-color: #1ec3ec; color: #fff; font-size: 18px; text-transform: uppercase; border-radius: 0; height: 43px;width:100%;}
.checkout-onepage-index .product-options ul.options-list label{background: #1ec3ec;padding:10px;}
.checkout-onepage-index #checkout-step-login .product_checklogin .col-1 .form-list{max-width:200px;margin:0 auto;}
.checkout-onepage-index #checkout-progress-wrapper .opc-block-progress-step-login{opacity:1;}
.checkout-onepage-index .col-right.sidebar{width:30%;float:right;margin-top:30px;background:#fff;padding-top:15px;}
.checkout-onepage-index #checkoutSteps{width:100%;float:left;margin:20px 0;}
.checkout-onepage-index #checkoutSteps div{opacity:1!important;}
.checkout-onepage-index #checkoutSteps li{display:block;width:100%;float:left;}
.checkout-onepage-index .opc.opc-firststep-login #opc-login.section .step-title h2{opacity:1!important;margin-left:45px!important;padding-top:8px;}
.checkout-onepage-index .opc.opc-firststep-login #opc-login.section .step-title .number{width:26px!important;}
.opc .section .step-title h2{padding-top:5px;}
.checkout-onepage-index #checkoutSteps .form-list .fieldset ul li input,.checkout-onepage-index #checkoutSteps .form-list .fieldset ul li select{background: #eef5f8 none repeat scroll 0 0; color: #8f9197; font-size: 15px; height: 43px; padding: 10px; width: 100%;border:1px solid silver; border-radius: 0;}
.checkout-onepage-index #checkoutSteps .form-list .fieldset ul li.control input{width:initial;height:initial;}
.checkout-onepage-index #checkoutSteps .form-list .fieldset label{font-size: 15px;font-weight: normal; line-height: 20px;}
.checkout-onepage-index #checkoutSteps #checkout-step-billing .buttons-set{text-align:center;}
.checkout-onepage-index #checkoutSteps #checkout-step-billing .buttons-set button{background-color: #1ec3ec; border-radius: 0; color: #fff; font-size: 18px; height: 43px;text-transform: uppercase; width: 100%;max-width:200px;float:none;}
.checkout-onepage-index .opc .section .step{padding-top:5px;}

.checkout-onepage-index .complete span.changelink a{ background-color: #1ec3ec; border-radius: 0; color: #fff; display: inline-block; font-size: 15px; padding: 8px; text-transform: uppercase;}
.checkout-onepage-index .complete address{font-style:normal;font-size:14px;font-weight:normal; font-family: "Proxima Nova Alt Rg";}
.checkout-onepage-index .complete{font-style:normal;font-size:14px;font-weight:normal; font-family: "Proxima Nova Alt Rg";}

.checkout-onepage-index #payment_form_ccsave li{width:50%; float:left;padding:0 10px;}
.checkout-onepage-index #payment_form_ccsave li input{background: #eef5f8 none repeat scroll 0 0; color: #8f9197; font-size: 15px; height: 43px; padding: 10px; width: 100%;border:1px solid silver; border-radius: 0;}


.checkout-onepage-index .buttons-set{text-align:center;}
.checkout-onepage-index .buttons-set button{background-color: #1ec3ec; border-radius: 0; color: #fff; font-size: 18px; height: 43px;text-transform: uppercase;}
.checkout-onepage-index .main button{background-color: #1ec3ec; border-radius: 0; color: #fff; font-size: 18px; height: 43px;text-transform: uppercase;}

.checkout-onepage-index #checkoutSteps ul.total_detail,.checkout-onepage-index #checkoutSteps ul.totel_prize{float: left; text-align: right;width: 100%;padding:10px 0;}
.checkout-onepage-index #checkoutSteps ul.total_detail li,.checkout-onepage-index #checkoutSteps ul.totel_prize li{display: inline-block; float: none;min-width: 160px; width: auto;font-size:16px;}
.checkout-onepage-index #checkoutSteps ul.total_detail li span.price{font-size:16px;}
.checkout-onepage-index ul.form-list li select{background: #eef5f8 none repeat scroll 0 0; color: #8f9197; font-size: 15px; height: 43px; padding: 10px; width: 100%;border:1px solid silver; border-radius: 0;}
.header-minicart #header-cart.skip-active{top:55px;}
.header-minicart .product-details .product-name a{font-size:12px;font-weight:bold;color:#00b7e4!important;}
.header-minicart .product-details .product-name a:hover{text-decoration:underline;color:#000!important;}
.header-minicart .product-details a{color:#000;}
.header-minicart #header-cart.skip-active .product-details{text-align:left;}
.minicart-wrapper p.subtotal{background:#000;}
.header-minicart .minicart-wrapper .subtotal .price{color:#fff;}
.block.block-reorder { display: none; }

.dashboardWrapper .dashboard .box-account p,.dashboardWrapper .dashboard .box-account address,.my-account .data-table tbody td,.my-account .data-table tfoot td{ font-family: 'Proxima Nova Alt Rg';}
.my-account input#change_password{margin-top:-5px;}

.my-account .form-list .control input.checkbox{margin-top:-5px;}

.my-account .pager .pages ol li a{line-height:15px;}
.my-account .pager .pages ol li{margin:0 3px;}
.order-info-box .box-content address{font-family: 'Proxima Nova Alt Rg';font-style:normal;}
.minicart-wrapper{ max-height: 400px;overflow-x: hidden;overflow-y: scroll;}
.alnab-header{width:100%;float:left;padding:0 100px;}



/*Create by Rahul Sharma*/
.std{
	padding:0px 100px;
}
.arabic .col-md-1, .arabic .col-md-2, .arabic .col-md-3, .arabic .col-md-4, .arabic .col-md-5, .arabic .col-md-6, .arabic .col-md-7, .arabic .col-md-8, .arabic .col-md-9, .arabic .col-md-10, .arabic .col-md-11, .arabic .col-md-12 {float: right;}
.navbar-header{float:right;}
.navbar-right {float: left !important; }

.search_bar.hidden-xs.hidden-sm {
    /*width: 72%;*/
    display: inline-block;
    max-width: 100%;
}

.logo img {
    display: inline-block;
    margin-top: 5px;
    margin-right: 25px;
    float: left;
}

/*Create by Rahul Sharma*/
