<?php 
/**
 * template
 */
$items = $this->getTopMenuCollection();
$width = $this->getSubMenuWidth($items);
$effect = $this->getEffect();
$mobile_effect = Mage::getStoreConfig('megamenu/mobile_menu/mobile_effect', $this->getStoreId());
$menu_type = Mage::getStoreConfig('megamenu/top_menu/responsive', $this->getStoreId());
$className = $this->getClassMenuType('topmenu');
$change =  intval(Mage::getStoreConfig('megamenu/top_menu/menu_width_main', $this->getStoreId()));
$align = Mage::getStoreConfig('megamenu/top_menu/topmenu_align',$this->getStoreId());
?>
<div id="nav" class="navbar navbar-default megamenu-pc ms-megamenu">
<div class="container">
<div class="row">
   
    <ul id="ms-topmenu" class="ms-topmenu <?php echo $className;?>">
    <?php if($menu_type != Magestore_Megamenu_Model_Megamenu::NO_RESPONSIVE): ?>
    <li class="anchor_mbmenu col-xs-2 text-center"><a class="anchor_mbmenu_text  glyphicon glyphicon-align-justify">&nbsp;</a></li>
<!-- Add here new logo and shopping -->
    <li class="anchor_mbmenu col-xs-6">
    <a href="http://alnabaa.n3.iworklab.com/index.php/">
        <img src="http://alnabaa.n3.iworklab.com/skin/frontend/alnabaa/default/images/logo.png" alt="Al-nabaa Store" class="img-responsive"></a>
    </li>

    <li class="col-xs-4 text-right visible-xs"> 
	<div class="header-minicart visible-xs">
        <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('checkout/cart/minicart.phtml')->tohtml(); ?>
	</div>
    </li>
    <li class="col-xs-12 visible-xs">        

    
    <div class="input-group">
        <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('catalogsearch/form.mini.phtml')->tohtml(); ?>
    </div>
  
    </li>
<!-- Add here new logo and shopping -->
    <?php endif;?>
     <li class="ms-level0 nav-">
        <ul class="visible-xs"> <li><?php echo $this->getLayout()->createBlock('page/switch')->setTemplate('page/switch/languages.phtml')->tohtml(); ?> </li>  
	  
        <li><?php echo $this->getLayout()->createBlock('directory/currency')->setTemplate('directory/currency.phtml')->tohtml(); ?></li>
                                    <!-- <li><a href="<?php //echo Mage::getUrl('customer/account'); ?>">My Account</a></li>
                                    <li><a href="<?php //echo Mage::getUrl('customer/account'); ?>">My Detail</a></li> -->
                                    <li><a href="<?php echo Mage::getUrl('customer/account/create'); ?>">Sign Up</a></li>
                    <?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
                    <li><a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>">Sign In</a></li>                        
                    <?php else: ?>
                    <li><a href="<?php echo Mage::helper('customer')->getLogoutUrl(); ?>">Sign Out</a></li>                      
                    <?php endif; ?>
                                    
                                </ul>
                                </li>
    <?php foreach($items as $item):?>

        <li class="ms-level0 nav-<?php echo $item->getId(); ?>" id="nav-<?php echo $item->getId(); ?>">
            <a class="ms-label <?php if($item->getMenuType() == Magestore_Megamenu_Model_Megamenu::ANCHOR_TEXT): ?>anchor_text<?php endif;?>" <?php if($item->getLink()):?> href="<?php echo $this->getItemLink($item) ?>" <?php endif; ?>>
                <?php if($item->getItemIcon()&& $align != 1):?><img alt="<?php echo $item->getNameMenu() ?>" class="ms-iconmega" draggable="false" src="<?php echo Mage::getBaseUrl('media')  . '/' . $item->getItemIcon() ?>"/>&nbsp;<?php endif; ?>
                <?php echo $item->getNameMenu() ?>
                <?php if($item->getItemIcon()&& $align == 1):?>&nbsp;<img alt="<?php echo $item->getNameMenu() ?>" class="ms-iconmega" draggable="false" src="<?php echo Mage::getBaseUrl('media')  . '/' . $item->getItemIcon() ?>"/><?php endif; ?>
            </a>
            <?php if($item->getMenuType() != Magestore_Megamenu_Model_Megamenu::ANCHOR_TEXT):?>
                <span class="mb-label glyphicon <?php if($mobile_effect == Magestore_Megamenu_Model_Megamenu::MOBILE_BLIND): ?>glyphicon-plus<?php else:?>glyphicon-chevron-right<?php endif; ?>">&nbsp;</span>
                <?php echo $this->getContent($item); ?>
            <?php endif; ?>
        </li>
    <?php endforeach;?>
    </ul>
</div>
</div>
</div>
<div class="div-temp">&nbsp;</div>
<script type="text/javascript">
    var menu = new MEGAMENU(mega('#ms-topmenu'),<?php echo $effect;?>,<?php echo $change;?>,<?php echo $width ;?>,<?php echo $menu_type ?>);
    mega(window).load(function() {
        menu.updateScreen();
    });
    mega(window).resize(function() {
        menu.updateScreen();
    });
</script>
